<template>
	<require from="aurelia-kendoui-bridge/multiselect/multiselect"></require>
	<require from="./flex.css"></require>

	<section class="full-height flex-column-1 au-animate ignore">
		<div class="flex-row-none section-header">
			${heading} 103
		</div>
		<div class="flex-row-1 ignore">
			<div class="flex-column-1 search-panel">
				<!-- <form> -->
				<div class="flex-row-none">
					<!-- <div class="form-group flex-column-1">

						<input id="searchInput" type="text" class="form-control" placeholder="Search for name..." value.bind="search.name">
					</div> -->

					<div class="form-group flex-column-1 margin-left-10">
						<!-- <aubs-typeahead ref='savedlist' data.bind="appService.savedlists" value.bind="name" debounce.bind="350" placeholder="search on 1 sl"
						 open-on-focus.bind="true" key="name" results-limit.bind="12" select-single-result.bind="true">
						</aubs-typeahead> -->
						<!-- <div>
							<label class="control-label">Basic - Simple String Collection with Search </label>
							<abp-select empty-on-null="true" picker-options.bind="{ liveSearch: true ,liveSearchPlaceholder:'search',actionsBox:true}"
							 collection.bind="allCondimentsbase"></abp-select>
						</div>


						<abp-select empty-on-null="true" ref='savedlist' picker-options.bind="{ liveSearch: true ,liveSearchPlaceholder:'search',actionsBox:true}"
						 collection.bind="appService.savedlists"></abp-select>
						<abp-select empty-on-null="true" ref='savedlist' picker-options.bind="{ liveSearch: true ,liveSearchPlaceholder:'search',actionsBox:true}"
						 collection.bind="savedlists"></abp-select>
						<label class="control-label">Basic - String Collection</label>
						<div>Value: ${camping}<br /> Item: ${campingValue}</div>
						<div>
							<abp-select collection.bind="savedlists" selected-value.bind="camping" selected-item.bind="campingValue"></abp-select>
						</div> -->

						<require from="../../resources/value-converters/stringify"></require>

						<h3>Batch And SaveList Management </h3>

						<div class="col-md-12">
							<!-- <div class="form-group">
								<label class="control-label">Object Collection - 1 sl mappingDataStructure</label>
								<div>Value: ${SaveListValue}
                   <br /> Item: ${name.InventoryCodes | stringify}
                   </div>
								<div> -->
									<abp-select picker-options.bind="selectOptions" empty-on-null="true" 
                  selected-item.bind="name" selected-value.bind="SaveListValue"
									 disabled="false" collection.bind="appService.savedlists"
                    data-mapping-structure.bind="mappingDataStructure" object-key="id"
									 element.bind="selectSaveList"></abp-select>
								</div>
								<!-- <div>
									<label class="control-label">SL with Search </label>
									<abp-select empty-on-null="true" picker-options.bind="{ liveSearch: true ,liveSearchPlaceholder:'search',actionsBox:true}"
									 collection.bind="appService.savedlists"></abp-select>
								</div> -->

								<!-- <div>
									<label class="control-label">SL with name Search </label>
									<abp-select empty-on-null="true" picker-name.bind="{ liveSearch: true ,liveSearchPlaceholder:'search',actionsBox:true}" data-option="name"
									 collection.bind="savedlists"></abp-select>
								</div> -->




								<!-- <label class="control-label">Object Collection - 2 sl mappingDataStructure</label>
								<div>Value: ${condimentValue} <br /> Item: ${name | stringify}</div>
								<div>
									<abp-select picker-options.bind="selectOptions" empty-on-null="true" selected-item.bind="name" selected-value.bind="condimentValue"
									 disabled="false" collection.bind="savedlists" data-mapping-structure.bind="mappingDataStructure" object-key="id"
									 element.bind="selectCondiment"></abp-select>
								</div> -->
								<!-- 
								<div>
									<label class="control-label">Basic - Simple String Collection with Search </label>
									<abp-select empty-on-null="true" picker-options.bind="{ liveSearch: true ,liveSearchPlaceholder:'search',actionsBox:true}"
									 collection.bind="allCondimentsbase"></abp-select>
								</div> -->
								<!-- <div>
									<abp-select multiple="true" picker-options.bind="{ actionsBox: true, width:'400px' }" collection.bind="allCondimentsbase"></abp-select>

								</div>

								<div>
									<abp-select multiple="true" picker-options.bind="{ actionsBox: true,size:'auto' }" collection.bind="allCondimentsbase"></abp-select>

								</div>
								<label class="control-label">Basic - String Collection</label>
								<div>Value: ${camping}<br /> Item: ${campingValue}</div>
								<div>
									<abp-select collection.bind="allCampingStuff" selected-value.bind="camping" selected-item.bind="campingValue"></abp-select>
								</div>

								<label class="control-label">Object Collection - Empty on Null, Change Title, Class Styling, Alternate Title (on Relish) selectMappingStructure</label>
								<div>Value: ${condimentValue} <br /> Item: ${condiment | stringify}</div>
								<div>
									<abp-select picker-options.bind="selectOptions" empty-on-null="true" selected-item.bind="condiment" selected-value.bind="condimentValue"
									 disabled="false" collection.bind="allCondiments" data-mapping-structure.bind="selectMappingStructure" object-key="id"
									 element.bind="selectCondiment"></abp-select>
								</div>

								<label class="control-label">Object Collection - Data Content &amp; disabled last item</label>
								<div>Value: ${condimentStyledValue} <br /> Item: ${condimentStyled | stringify}</div>
								<div>
									<abp-select picker-options.bind="selectOptions" selected-item.bind="condimentStyled" selected-value.bind="condimentStyledValue"
									 disabled="false" collection.bind="allStyledCondiments" data-mapping-structure.bind="selectMappingStructure" object-key="id"
									 element.bind="selectStyledCondiment"></abp-select>
								</div>

								<label class="control-label">Optgroups, Multiple &amp; disabled last bread option</label>
								<div>Values: ${picnicValue} <br /> Items: ${picnic | stringify}</div>
								<div>
									<abp-select id="multiSelect" picker-options.bind="selectOptions" selected-item.bind="picnic" selected-value.bind="picnicValue"
									 collection.bind="allSelectionWithGroups" has-optgroup="true" data-mapping-structure.bind="selectMappingStructure"
									 multiple="true" object-key="id" element.bind="selectPicnic"></abp-select>
								</div> -->

							</div>
						</div>

						<!-- end -->


					</div>
				</div>


			</div>
		</div>


		<div class="flex-row-none">
			<div class="form-group flex-column-1">

				<button id="searchInputBtn" class="btn btn-primary" type="button" click.delegate="performSearch()">Search!</button>
			</div>
			<div class="form-group flex-column-1 margin-left-10">
				<button id="searchInputBtn" class="btn btn-primary" type="button" click.delegate="performClear()">Clear</button>
			</div>
		</div>

	</section>
</template>