

<template>

	<require from="./docs.css"></require>
    <require from="../../../resources/value-converters/date-format"></require>
	<section class="docs full-height flex-column-1 overflow-y-auto ignore">
		<h4>
			<i class="fa fa-folder-open"></i> Notes 
			<a slot="buttons-slot" class="btn btn-primary" click.delegate="addNote()">
				<i class="fa fa-plus"></i> Add Note
			</a>
		</h4>

			<!-- <tr repeat.for="note of currentItem.notes" with.bind="note">
          
          	<span show.bind="!note.edit">${WorkDate | dateFormat }</span>

						<span show.bind="!note.edit">${Notes}</span> -->
		<ak-grid class="flex-row-1 overflow-y-auto" id="grid" k-data-source.bind="datasource" k-widget.bind="grid" k-sortable.bind="{ mode: 'multiple',   allowUnsort: 'true'}"
		 k-editable="popup" k-reorderable.bind="true" k-resizable.bind="true" 
				 k-height.bind="300" k-column-menu.bind="true">
					 <div style="width: 900px"></div>
          <ak-col k-filterable.bind="false" k-width="190px" k-title="Cmd" k-command.bind="['edit','delete']" k-title="&nbsp;" k-locked.bind="true"
					 k-lockable.bind="false"></ak-col>
  				<ak-col k-field="Notes" k-title="Memo" k-width="340px"  k-height="240px" k-editor.bind="textAreaEditor"
					 k-filterable.bind="false" k-groupable.bind="false"></ak-col>
	
         	<ak-col k-field="WorkDate" k-filterable.bind="true" k-format="{0:MM/dd/yyyy}" k-width.bind="120">	</ak-col> 
		
					</ak-col>
				
				</ak-grid>

	</section>
</template>


