<template>
	<!-- <require from="./docs.css"></require> -->
	<require from="../../../resources/value-converters/date-format"></require>
	<section class="docs full-height flex-column-1 overflow-y-auto ignore">
		<h4>
			<i class="fa fa-folder-open"></i>Consigned To
			<a slot="buttons-slot" class="btn btn-primary" click.delegate="addConsignedto()">
				<i class="fa fa-plus"></i> Add Consigned To </a>
		</h4>

		<ak-grid class="flex-row-1 overflow-y-auto" id="grid" k-data-source.bind="datasource" k-widget.bind="grid" k-sortable.bind="{ mode: 'multiple',   allowUnsort: 'true'}"
		 k-editable="popup" k-reorderable.bind="true" k-resizable.bind="true" k-height.bind="300" k-column-menu.bind="true">
			<div style="width: 1500px"></div>
			<!-- <ak-col k-filterable.bind="false" k-width="170px" k-command.bind="['edit','destroy']" k-title=" " k-locked.bind="true" k-lockable.bind="false"></ak-col> -->
			<!-- <ak-col k-title='Consigned To' k-field="ConsignedTo"    k-width="140px" k-template.bind="orgTemplate"
			 k-editor.bind="orgDropDownEditor" k-filterable.bind="false" k-groupable.bind="false"></ak-col> -->

			<!-- <ak-col k-field="consignedtoname" k-title="Consigned To" k-width="180px" k-editor.bind="orgDropDownEditor" k-template.bind="orgTemplate"></ak-col> -->
<ak-col k-locked.bind="true" k-filterable.bind="true" k-title="Edit" k-width.bind="45" k-template="<button click.delegate='detailsEdit($event)' ><i class='fa fa-edit'></i></button>"></ak-col>

      <ak-col k-locked.bind="true"k-command="destroy" k-title="Delete " k-width="85px"></ak-col>

		
 <ak-col k-title="OrgName" k-width="160px" k-field="OrgName"> </ak-col>
		

			<ak-col k-title="Start Date" k-field="ConsignedStartDate" k-filterable.bind="true" k-format="{0:MM/dd/yyyy}" k-width.bind="120">
			</ak-col>
			<ak-col k-title="End Date" k-field="ConsignedEndDate" k-filterable.bind="true" k-format="{0:MM/dd/yyyy}" k-width.bind="120">
			</ak-col>
			<ak-col k-title="Retail Price" k-field="ConsignmentRetailPrice" k-filterable.bind="true" k-width.bind="140"></ak-col>
			<ak-col k-title="Consignment Price Amt" k-type="number" k-format="{0:c2}" k-field="ConsignmentRetailPriceAmt" k-filterable.bind="true"
			 k-width.bind="140"> </ak-col>
			<ak-col k-title="Net MRG" k-field="NettoMRG" k-filterable.bind="true" k-width.bind="140"> </ak-col>
			<ak-col k-title="Net MRG $" k-type="number" k-format="{0:c2}" k-field="NettoMRGAmt" k-filterable.bind="true" k-width.bind="140">
			</ak-col>

			<ak-col k-title="Released" k-field="ArtworkReleased" k-filterable.bind="true" k-format="{0:MM/dd/yyyy}" k-width.bind="120">
			</ak-col>
			<ak-col k-title="Signed" k-width="90px" k-field="Signed"> </ak-col>
			<ak-col k-title="PDF" k-width="90px" k-field="PDF"> </ak-col>
			<ak-col k-title="Returned" k-width="90px" k-field="Returned"> </ak-col>
			<ak-col k-title="Sold" k-width="90px" k-field="Sold"> </ak-col>

	<ak-col k-title="Note" k-field="ConsignmentNotes" k-width.bind="120"></ak-col>
		
			<ak-col k-title="Modified" k-field="ModifiedDate" k-filterable.bind="true" k-format="{0:MM/dd/yyyy}" k-width.bind="120">
			</ak-col>


			<!-- <ak-col k-title="Created" k-field="CreatedDate" k-filterable.bind="true" k-format="{0:MM/dd/yyyy}" k-width.bind="120"> </ak-col> -->
			<!-- <ak-col k-field="eloc" k-title="eloc" k-width="120px" k-editor.bind="locationDropDownEditor" k-template.bind="locationTemplate"
			 k-filterable.bind="false" k-groupable.bind="false"></ak-col> -->



		</ak-grid>
	</section>
</template>