<template>
		<section class="docs full-height flex-column-1 overflow-y-auto ignore">
 <style>
      .k-grid .k-grid-toolbar .k-grid-add,
      .k-grid tbody .k-grid-edit,
      .k-grid tbody .k-grid-update,
      .k-grid tbody .k-grid-cancel,
      .k-grid tbody .k-grid-delete {
        min-width: 0;
      }
      .k-grid .k-grid-toolbar .k-grid-add .k-icon,
      .k-grid tbody .k-grid-edit .k-icon,
      .k-grid tbody .k-grid-update .k-icon,
      .k-grid tbody .k-grid-cancel .k-icon,
      .k-grid tbody .k-grid-delete .k-icon {
        margin: 0;
      }
    </style>
		<h4>
			<i class="fa fa-folder-open"></i> Docs for ${currentItem.InventoryCode} Not Available until  9/26
   <!-- <a slot="buttons-slot" class="btn btn-primary" click.delegate="addPhoto()">
				<i class="fa fa-plus"></i> Add Doc Rec
			</a> 
			<a slot="buttons-slot">
				<input id="icon_prefix" type="text" value.bind="searchdoc & debounce" class="validate">
				<i class="material-icons prefix">search</i>
			</a>
-->
			<!-- <input ak-tooltip='k-content: "Click to open or drap and drop file over button"' class="btn btn-success" style='height:88' ref='file' id='file' type="file" name="file" files.bind="file" multiple>
	<a slot="buttons-slot" class="btn btn-success" click.delegate="addDocs(file)">
			</i>Upload Files
			</a>  -->
  
		</h4>
   <!-- k-filterable.bind="{  mode: 'row' }" --> 
 	<ak-grid class="flex-row-1 overflow-y-auto" id="grid" k-data-source.bind="datasource" k-widget.bind="grid" k-sortable.bind="{ mode: 'multiple',   allowUnsort: 'true'}"
	 k-height.bind="300"  k-editable="popup" k-reorderable.bind="true" k-groupable.bind="true"
	 k-resizable.bind="true" k-selectable="[row]"
	 k-on-change.delegate="rowSelected($event.detail)" k-column-menu.bind="true"  k-scrollable.bind="scrollable">
 
			<div style="width: 1200px"></div>
		 	<ak-col k-filterable.bind="false" k-width="160px" k-title="Cmd" k-command.bind="['delete']" k-title="&nbsp;" k-locked.bind="true"
			 k-lockable.bind="false"></ak-col>

			  			<ak-col k-title="Image" k-filterable.bind="false" k-field="id" k-width="75px">
				<ak-template>
					<div class='customer-photo-sq' style="background-image: url(https://artbased.com/api/v1/getimagedetail/${currentItem.InventoryCode}/${currentItem.FILE_NAME}?${epoch});"
					 click.delegate="showModalImg($event)"></div>
				</ak-template>
			</ak-col>
				  			<ak-col k-title="ImageTxt" k-filterable.bind="false" k-field="id" k-width="75px">
				<ak-template>
					<div>
            https://artbased.com/api/v1/getimagedetail/${currentItem.InventoryCode}/${currentItem.FILE_NAME}?${epoch}
            
					 </div>
				</ak-template>
			</ak-col>

<ak-col k-field="FILE_NAME" k-title="FILE_NAME" k-filterable.bind="true" k-width.bind="190"> </ak-col>

  <ak-col k-field="FileNamePath" k-title="File path" k-filterable.bind="true" k-width.bind="390"> </ak-col>


    	<ak-col k-field="Date" k-filterable.bind="true" k-format="{0:MM/dd/yyyy}" k-width.bind="120"> </ak-col>

		</ak-grid>



	</section>
</template>
<!-- <ak-col k-title="Image" k-filterable.bind="false" k-field="id" k-width="75px">
				<ak-template>
					<div class='customer-photo-sq' style="background-image: url(https://artbased.com/api/v1/getimagedetail/#InventoryCode#/#FILE_NAME#?#epoch#);"
					 click.delegate="showModalImg($event)"></div>
				</ak-template>
			</ak-col> -->


      <!-- <ak-col k-field="FILE_NAME" k-locked.bind="true" k-lockable.bind="false" k-filterable.bind="true" k-title="Download"
		 k-width.bind="280" k-template="<button click.delegate='detailsdownload($event)' class='k-button'>#=FILE_NAME#</button>">
		</ak-col> -->

			<!-- https://artbased.com/api/v1/getimagedetail/${currentItem.InventoryCode}/${FILE_NAME} -->
	<!-- <ak-col k-field="FILE_NAME" k-title="File name" k-filterable.bind="true"k-width.bind="120"> </ak-col> -->
