<template>
	<require from="../../../resources/value-converters/date-format"></require>

	<section class="docs  full-height  flex-column-1 overflow-y-auto ignore" style="height:400px">

		<h4>
			<i class="fa fa-folder-open"></i> Exhibition
			<a slot="buttons-slot" class="btn btn-primary" click.delegate="addExhibit()">
				<i class="fa fa-plus"></i> Add Exhibition
			</a>
		</h4>





		

		<ak-grid class="flex-row-1 overflow-y-auto" id="grid" k-data-source.bind="datasource" k-widget.bind="grid" k-sortable.bind="{ mode: 'multiple',   allowUnsort: 'true'}"
		 k-editable="popup" k-reorderable.bind="true" k-resizable.bind="true" k-on-edit.delegate="onEdit($event.detail)" k-selectable="multiple"
		 k-height.bind="300" k-column-menu.bind="true">
			<div style="width: 1200px"></div>
			<ak-col k-filterable.bind="false" k-width="120px" k-title="Cmd" k-command.bind="['edit']" k-title="&nbsp;" k-locked.bind="true"
			 k-lockable.bind="false"></ak-col>


			<ak-col k-field="id" k-filterable.bind="true" k-width.bind="140">
			</ak-col>
			<ak-col k-title="Title" k-field="ExhibitTitle" k-filterable.bind="true" k-width.bind="140">
			</ak-col>
			<ak-col k-title="Sponser" k-field="ExhibitSponser" k-filterable.bind="true" k-width.bind="140">
			</ak-col>
			<ak-col k-field="ExhibitLocation" k-title="Loc" k-title="Location" k-width="180px" k-editor.bind="locDropDownEditor" k-filterable.bind="false"
			 k-groupable.bind="false"></ak-col>

			<ak-col k-field="ReproductionTitle" k-filterable.bind="true" k-field="Title" k-width.bind="140">
			</ak-col>
			<ak-col k-field="ExhibitDates" k-filterable.bind="true" k-width.bind="140">
			</ak-col>
			<ak-col k-field="ExhibitSortDate" k-filterable.bind="true" k-width.bind="120">
			</ak-col>
			<ak-col k-field="ExhibitMemo" k-filterable.bind="true" k-width.bind="140">
			</ak-col>
      <!-- <input type="checkbox" id="Traveled" checked.bind="exhibition.Traveled"> -->

			<ak-col k-title="Batch" k-width="110px" k-field="Batch"></ak-col>


		</ak-grid>




	</section>
</template>