<template>
	<require from="../../../resources/value-converters/date-format"></require>
<style>
/*
    Increase the width of the edit form.
    The default one is 400px.
*/

.k-edit-form-container
{
    width: 500px;
}

/*
    Decrease the width of the edit form labels. The default one is 30%.
    The new width should depend on the column titles.
    Switch the text alignment to the left. By default, it is to the right.
*/

.k-popup-edit-form .k-edit-label
{
    width: 20%;
    text-align: left;
}

/*
    Increase the width of the textbox containers. The default one is 60%.
    The sum of label and editor percentage widths should be around 90%, to make up for existing paddings.
*/
.k-popup-edit-form .k-edit-field
{
    width: 70%;
}

/*
    Expand the edit textboxes and any other Kendo UI widgets.
    In case of unexpected side effects, use widget-specific classes, instead of .k-widget.
*/
.k-popup-edit-form .k-edit-field > .k-textbox,
.k-popup-edit-form .k-edit-field > .k-widget:not(.k-tooltip)
{
    width: 98%;
}

</style>
	<section class="docs  full-height  flex-column-1 overflow-y-auto ignore" style="height:400px">

		<h4>
			<i class="fa fa-folder-open"></i> Exhibition
			<a slot="buttons-slot" class="btn btn-primary" click.delegate="addExhibit()">
				<i class="fa fa-plus"></i> Add Exhibition
			</a>
		</h4>

	
 <!--   k-on-edit.delegate="onEdit($event.detail)" -->
		<ak-grid class="flex-row-1 overflow-y-auto" id="grid" k-data-source.bind="datasource" k-widget.bind="grid" k-sortable.bind="{ mode: 'multiple',   allowUnsort: 'true'}"
		 k-editable="popup" k-reorderable.bind="true" k-resizable.bind="true" 
    k-selectable="multiple"
		 k-height.bind="300" k-column-menu.bind="true">
			<div style="width: auto"></div>
			<ak-col k-filterable.bind="false" k-width="90px" k-title="Cmd" k-command.bind="['edit']" 
      k-title="&nbsp;" k-locked.bind="true"
			 k-lockable.bind="false"></ak-col>
			<ak-col k-field="id" k-locked.bind="true" k-filterable.bind="true" k-width.bind="60">
			</ak-col>   
			<ak-col k-title="Title" k-field="ExhibitTitle" k-filterable.bind="true" k-width.bind="180">
			</ak-col> 
			<ak-col k-title="Sponser" k-field="ExhibitSponser" k-filterable.bind="true" k-width.bind="180">
			</ak-col>
			<!-- <ak-col k-field="ExhibitLocationDesc" k-title="LocDesc" k-title="Location" k-width="180px" 
      k-editor.bind="locDropDownEditor" k-filterable.bind="false"
			 k-groupable.bind="false" ></ak-col>  -->
	   <!-- <ak-col k-field="Category" k-title="Category" k-width="180px" k-editor.bind="categoryDropDownEditor" k-template.bind="categoryTemplate"></ak-col> -->
     <!-- <ak-col k-field="ExhibitLocation" k-title="ExhLocation" k-width="180px"
           k-editor.bind="locDropDownEditorID" k-template.bind="locTemplate"></ak-col>
   	 -->
		<ak-col k-field="ExhibitLocationDesc" k-title="LocDesc" k-title="Location" 
      k-width="140px" 
      k-editor.bind="locDropDownEditor" k-filterable.bind="false"
			 k-groupable.bind="false" ></ak-col> 

     <ak-col k-field="eloc" k-title="eloc" k-width="120px"
      k-editor.bind="locationDropDownEditor" k-template.bind="locationTemplate"
        k-filterable.bind="false" k-groupable.bind="false" ></ak-col>
    

     <!-- <ak-col k-field="assignto" k-title="assignto" k-width="180px" k-editor.bind="staffDropDownEditor"
                                    k-filterable.bind="false" k-groupable.bind="false" k-template.bind="staffTemplate"></ak-col> -->
	<!-- <ak-col k-field="ExhibitLocation" k-title="LocID" k-title="Loc2" k-width="180px" 
      k-editor.bind="locDropDownEditorID" k-filterable.bind="false"
	  	k-template.bind="locTemplate"	 k-groupable.bind="false"></ak-col> -->


    	<!-- <ak-col k-field="ExhibitLocation" k-title="LocID" k-title="Loc2" k-width="180px" 
      k-editor.bind="locDropDownEditorID" k-filterable.bind="false"
	  	k-template.bind="locTemplate"	 k-groupable.bind="false"></ak-col> -->
	<!-- k-template.bind="locTemplate((container,appService.codesProvenanceLocation) $event,appService.codesProvenanceLocation)"	 k-groupable.bind="false"></ak-col> -->

				<ak-col k-title="ExhibitDates" k-width="160px" k-field="ExhibitDates"></ak-col>
   
			<ak-col k-field="ExhibitSortDate" k-filterable.bind="true" k-format="{0:MM/dd/yyyy}" k-width.bind="90">	</ak-col> -->
			<ak-col k-field="ExhibitMemo" k-filterable.bind="true" k-width.bind="140"></ak-col>
      <ak-col k-title="Traveled" k-width="110px" k-field="Traveled"></ak-col>
			<ak-col k-title="Batch" k-width="90px" k-field="Batch"></ak-col>
      	
    
		</ak-grid>


	</section>
</template>