<template>
  <style>
.k-grid [type="checkbox"]:not(:checked), .k-grid [type="checkbox"]:checked {
  position: relative;
  left: 0;
  opacity: 1;
}
 
    </style>
	<require from="../../../resources/value-converters/date-format"></require>

	<section class="docs full-height flex-column-1 overflow-y-auto ignore" style="height:400px">
		<h4>
			<i class="fa fa-folder-open"></i> Museum Loan
			<a slot="buttons-slot" class="btn btn-primary" click.delegate="addDetail()">
				<i class="fa fa-plus"></i> Add Museum Loan
			</a>
		</h4>

		<!-- 
						<th class="header">Loan To </th>
						<th class="header">Ins Value </th>
						<th class="header">Ins Value Amt </th>
						<th class="header">Exh Title </th>
						<th class="header">Venues And Dates </th>
						<th class="header">Returned </th>
						<th class="header">Agreement</br>Form Signed MRG </th>
						<th class="header">Agreement</br>Countersigned </th>
						<th class="header">CofI </th>
						<th class="header">Artwork</br>Released </th>
						<th class="header">Notes </th>
						<th class="header">Catalog </th>
						<th class="header">Updated</br>Factsheet </th> -->


		<!-- <div class="form-control  input-sm" if.bind="loantoname===undefined || loantoname===''">
								<a click.delegate="showModal( 'LoanTo',$index)">select_link </a>
							</div>
							<div class="form-control  input-sm" else>
								<a click.delegate="showModal('LoanTo',$index)">${museumloan.loantoname}</a>

							</div>
museumloan InsValue InsValueAmt ExhTitle VenuesAndDates TransportNotes
checkbox Returned AgreementFormSignedMRG AgreementFormCountersigned CofI Catalog UpdatedFactSheet
dt 		 ArtworkReleased			 -->

		<ak-grid class="flex-row-1 overflow-y-auto" id="grid" k-data-source.bind="datasource" k-widget.bind="grid" k-sortable.bind="{ mode: 'multiple',   allowUnsort: 'true'}"
		 k-editable="popup" k-reorderable.bind="true" k-resizable.bind="true" k-height.bind="300" k-column-menu.bind="true">
			<div style="width: 900px"></div>
			<ak-col k-filterable.bind="false" k-width="120px" k-title="Cmd" k-command.bind="['edit']" k-title="&nbsp;" k-locked.bind="true"
			 k-lockable.bind="false"></ak-col>

			<ak-col k-field="loantoname" k-title="Loan To" k-width="180px" k-editor.bind="orgDropDownEditor"  k-template.bind="orgTemplate" ></ak-col>


			<ak-col k-field="TransportNotes" k-title="Memo" k-width="340px" k-height="240px" k-editor.bind="textAreaEditor" k-filterable.bind="false"
			 k-groupable.bind="false"></ak-col>

			<ak-col k-field="ArtworkReleased" k-filterable.bind="true" k-format="{0:MM/dd/yyyy}" k-width.bind="120"> </ak-col>
	    <ak-col k-title="Returned" k-width="110px" k-field="Returned" k-editor.bind="Returned" ></ak-col>
		</ak-grid>
		<!-- k-template.bind="cbTemplate" <ak-col k-field="Returned" k-filterable.bind="true" class="chkbx" 
      k-editor.bind="Returned" k-width.bind="120"> </ak-col> -->
 
	</section>
</template>
