<template>
	<require from="./docs.css"></require>
	<section class="docs full-height flex-column-1 overflow-y-auto ignore">
		<h4>
			<i class="fa fa-folder-open"></i> Museum Loan
			<a slot="buttons-slot" class="btn btn-primary" click.delegate="addDetail()">
				<i class="fa fa-plus"></i> Add Museum Loan
			</a>
		</h4>


		<table class="table-condensed table">
			<thead class="table-header-blue" data-sort="items.bind: currentItem.museumloan; cols: ['WorkDate','Notes']">
				<tr>
					<th class="header">Loan To </th>
					<th class="header">Ins Value </th>
					<th class="header">Ins Value Amt </th>
					<th class="header">Exh Title </th>
					<th class="header">Venues And Dates </th>
					<th class="header">Returned </th>
					<th class="header">Agreement</br>Form Signed MRG </th>
					<th class="header">Agreement</br>Countersigned </th>
					<th class="header">CofI </th>
					<th class="header">Artwork</brReleased </th>
						<th class="header">Notes </th>
						<th class="header">Catalog </th>
						<th class="header">Updated</br>FactSheet </th>

						<th class="header"> </th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
			<tbody>
				<tr repeat.for="museumloan of currentItem.museumloan" with.bind="museumloan">
					<!-- <td> ${ExhibitTitle} </td> -->
					<!-- <td width="125px">
						<span show.bind="!transport.edit">	
              <select disabled show.bind="!transport.edit" id="tt1" class="form-control input-sm" value.two-way="TransportTo" > 
						<option model.bind="null">Choose...</option> 
						<option repeat.for="opt of appService.codesListLocation" model.bind="opt.ID">
							${opt.Description} 
						</option> 
						</select></span>
						<select show.bind="transport.edit" id="tt" class="form-control input-sm" value.two-way="TransportTo" change.delegate="selectChanged(transport, ID)"> 
						<option model.bind="null">Choose...</option> 
						<option repeat.for="opt of appService.codesListLocation" model.bind="opt.ID">
							${opt.Description} 
						</option> 
						</select>
					</td>
					<td width="220px"><input type="text" id="LoanTo" class="form-control  input-sm" value.bind="museumloan.LoanTo"></td> -->
					<td width="250px">
						<!-- <select id="LoanTo" class="form-control input-sm" value.bind="museumloan.LoanTo"> 
                    <option model.bind="null">Choose...</option> 
                       <option repeat.for="opt of appService.orgsList" model.bind="opt._id">
                        ${opt.OrgName} 
                      </option> 
                    </select> -->
						<input click.delegate="showModal('LoanTo',$index)" type="text" id="LoanTo" class="form-control input-sm" value.bind="loantoname">
					</td>

					<td width="120px"><input type="text" id="InsValue" class="form-control  input-sm" value.bind="museumloan.InsuranceValue"></td>
					<td width="120px"><input type="text" id="InsValueAmt" class="form-control  input-sm" value.bind="museumloan.InsuranceValueAmt"></td>

					<!-- LoanTo InsuranceValue InsuranceValueAmt ExhibitionTitle VenuesAndDates AgreementFormSignedMRG 
         AgreementFormCountersigned CofI ArtworkReleased  Catalog UpdatedFactSheet Returned
 	      	<input id="chkToggleAll" click.delegate="toggleAll()" type="checkbox" /> </th>
     	    -->
					<td width="220px"><input type="text" id="ExhTitle" class="form-control  input-sm" value.bind="museumloan.ExhibitionTitle"></td>
					<td width="220px"><input type="text" id="VenuesAndDates" class="form-control  input-sm" value.bind="museumloan.VenuesAndDates"></td>
					<td width="120px"><input type="checkbox" id="Returned" checked.bind="museumloan.Returned"></td>

					<td width="120px"><input type="checkbox" id="AgreementFormSignedMRG" checked.bind="museumloan.AgreementFormSignedMRG"></td>
					<td width="120px"><input type="checkbox" id="AgreementFormCountersigned" checked.bind="museumloan.AgreementFormCountersigned"></td>
					<td width="120px"><input type="checkbox" id="CofI" checked.bind="museumloan.CofI"></td>
					<td width="120px"><input type="date" id="ArtworkReleased" checked.bind="museumloan.ArtworkReleased"></td>
					<td width="220px"><input type="text" id="TransportNotes" class="form-control  input-sm" value.bind="museumloan.TransportNotes"></td>

					<td width="120px"><input type="checkbox" id="Catalog" checked.bind="museumloan.Catalog"></td>
					<td width="120px"><input type="checkbox" id="UpdatedFactSheet" checked.bind="museumloan.UpdatedFactSheet"></td>

					<td width="225px">
						<button class="btn btn-primary" click.delegate="museumloan.edit=!museumloan.edit">${ !museumloan.edit ? 'Update' : 'Done' }</button>
						<button class="btn btn-sm btn-danger" click.delegate="remove(museumloan)">           Delete            </button>
					</td>


				</tr>
			</tbody>
		</table>

	</section>
</template>