<template>
	<require from="./docs.css"></require>
	<!-- <section class="customer-orders au-animate"> -->
	<section class="docs full-height flex-column-1 overflow-y-auto ignore">
		<h4>
			<!-- <i class="fa fa-folder-open"></i> offering 
<a slot="buttons-slot" class="btn btn-primary" click.delegate="addDiary()">
				<i class="fa fa-plus"></i> Add consignedto
			</a> -->
		</h4>
		<!--   "OrgID" : 11946.0, 
            "ContactID" : 13880.0, 
            "OfferDate" : "2013-10-23", 
            "OfferPrice" : "125,000", 
            "SoldPrice" : 0.0, 
            "OfferNotes" : "" -->

		<table class="table-condensed table">
			<thead class="table-header-blue" data-sort="items.bind: currentItem.offerings; cols: ['ENTERED','REMIND','CANCELED','NOTES']">
				<tr>
					<th class="header">Client
					</th>
					<th class="header">Offer Date
					</th>
					<th class="header">Offer Amt
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td></td>
					<td></td>

				</tr>
			</tfoot>
			<tbody>
       
				<tr repeat.for="offering of currentItem.offerings" with.bind="offering">
					<td width="325px">
						<span show.bind="!offering.edit">${clientname}</span>
						<input show.bind="offering.edit" class="form-control input-sm" disabled.bind="!offering.edit" type="text" value.bind="clientname">
					</td>
					<td width="125px">
						<span show.bind="!offering.edit">${offerdate}</span>
						<input show.bind="offering.edit" class="form-control input-sm" disabled.bind="!offering.edit" type="date" value.bind="offerdate">
					</td>
					<td width="125px">
						<span show.bind="!offering.edit">${offeramount}</span>
						<input show.bind="offering.edit" class="form-control input-sm" disabled.bind="!offering.edit" type="text" value.bind="offeramount">
					</td>

				</tr>
			</tbody>
		</table>


	</section>
</template>