<template>
	<require from="./docs.css"></require>
	<require from="../../../resources/value-converters/date-format"></require>


	<section class="docs full-height flex-column-1 overflow-y-auto ignore">
		<h4>
			<i class="fa fa-folder-open"></i> Provenance
			<a slot="buttons-slot" class="btn btn-primary" click.delegate="addDetail()">
				<i class="fa fa-plus"></i> Add Provenance
			</a>

		</h4>



		<table class="table-condensed table">
			<thead class="table-header-blue" data-sort="items.bind: currentItem.provenance; cols: ['ProvDate','ProvMemo']">
				<tr>
					<th class="header">Location</th>

					<th class="header">Date </th>
          		<th class="header">Owner </th>
			
					<th class="header">Note </th>
					<!-- <th class="header">Sort Date </th> -->
					<th class="header">Sequence </th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
			<tbody>
				<tr repeat.for="provenance of currentItem.provenance " with.bind="provenance">
			
					<td width="200px">
						<select id="ProvLoc" class="form-control  input-sm" value.bind="ProvLoc"> 
                      <!-- <option model.bind="null">Choose...filterOnCode</option>  -->
                         <option model.bind=0>Choose...filterOnCode</option> 
                      <option repeat.for="opt of appService.codesProvenanceLocation " model.bind="opt.id">
                    ${opt.Description} 
                      </option> 
                    </select>

					</td>
					<!-- <td width="120px"><input type="date" id="ProvDate" class="form-control  input-sm" value.bind="ProvDate  | dateFormat "></td> -->
					<td width="120px"><input type="date" id="ProvDate" class="form-control  input-sm" value.bind="ProvDate"></td>
					<td width="120px"><input type="text" id="ProvMemo" class="form-control  input-sm" value.bind="ProvMemo"></td>
          		<td width="225px">

						<div class="form-control  input-sm" if.bind="provownername===undefined || provownername===''">
							<a click.delegate="showModal( 'ProvOwner',$index)">select_link </a>
						</div>
						<div class="form-control  input-sm" else>
							<a click.delegate="showModal('ProvOwner',$index)">${provenance.provownername}</a>

						</div>




					</td>
					<!-- <td width="120px"><input type="text" id="ProvSortDate" class="form-control  input-sm" value.bind="ProvSortDate"></td> -->
					<td width="120px"><input type="text" id="Sequence" class="form-control  input-sm" value.bind="Sequence"></td>

					<td width="225px">

						<!-- <button class="btn btn-primary" click.delegate="saveitem(provenance,$index)">${ !provenance.edit ? 'Edit' : 'Save' }</button> -->

						<button class="btn btn-danger" click.delegate="remove(provenance,$index)">Delete</button>
					</td>

				</tr>
			</tbody>
		</table>


	</section>
</template>