<template>
	<require from="./docs.css"></require>
	<!-- <require from="../../../value-converters/filter-by-code"></require> -->
	<!-- <require from="../../../../value-converters/filter-by-code"></require> -->
	<!-- ../value-converters/filter-by-name -->
	<!-- <section class="customer-orders au-animate"> -->
	<section class="docs full-height flex-column-1 overflow-y-auto ignore">
		<h4>
			<i class="fa fa-folder-open"></i> Provenance
			<a slot="buttons-slot" class="btn btn-primary" click.delegate="addDetail()">
				<i class="fa fa-plus"></i> Add Provenance
			</a>
			<a slot="buttons-slot" class="btn btn-primary" click.delegate="addit()">
				<i class="fa fa-plus"></i> Add It
			</a>
		</h4>



		<table class="table-condensed table">
			<thead class="table-header-blue" data-sort="items.bind: currentItem.provenance; cols: ['ProvDate','ProvMemo']">
				<tr>
					<th class="header">Owner </th>
					<th class="header">Location</th>

					<th class="header">Date </th>
					<th class="header">Note </th>
					<th class="header">Sort Date </th>
          <th class="header">Sequence </th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
			<tbody>
				<tr repeat.for="provenance of currentItem.provenance " with.bind="provenance">
					<!-- <td width="120px"><input type="text" id="ProvOwner" class="form-control  input-sm" value.bind="ProvOwner"></td> -->
					<td width="125px">
						<span show.bind="!provenance.edit">${ProvOwner}</span>
						<input show.bind="provenance.edit" id="ProvOwner" class="form-control input-sm" disabled.bind="!provenance.edit" type="text"
						 value.bind="ProvOwner">
					</td>
					<td width="200px">
						<select id="ProvLoc" class="form-control  input-sm" value.bind="ProvLoc"> 
                      <option model.bind="null">Choose...filterOnCode</option> 
                     <!-- <option repeat.for="opt of appService.codesList | filterByCode:'Code Type':14" model.bind="opt.ID"> -->
                         <option repeat.for="opt of appService.codesProvenanceLocation " model.bind="opt.ID">
                    ${opt.Description} 
                      </option> 
                    </select>

					</td>
					<td width="120px"><input type="text" id="ProvDate" class="form-control  input-sm" value.bind="ProvDate"></td>
					<td width="120px"><input type="text" id="ProvMemo" class="form-control  input-sm" value.bind="ProvMemo"></td>
					<td width="120px"><input type="text" id="ProvSortDate" class="form-control  input-sm" value.bind="ProvSortDate"></td>
					<td width="120px"><input type="text" id="Sequence" class="form-control  input-sm" value.bind="Sequence"></td>

					<td width="225px">
						<button class="btn btn-primary" click.delegate="provenance.edit=!provenance.edit">${ !provenance.edit ? 'Update' : 'Done' }</button>
						<button class="btn btn-danger" click.delegate="remove(provenance,$index)">Delete</button>
					</td>
					<!-- <td> <button class="btn btn-sm btn-danger" click.delegate="remove(provenance)">
                  Delete
                </button></td> -->
				</tr>
			</tbody>
		</table>


	</section>
</template>