<template>
	<require from="../../../resources/value-converters/date-format"></require>
	<section class="docs full-height flex-column-1 overflow-y-auto ignore" style="height:400px">
		<h4>
			<i class="fa fa-folder-open"></i> Provenance
			<a slot="buttons-slot" class="btn btn-primary" click.delegate="addProv()">
				<i class="fa fa-plus"></i> Add Provenance
			</a>
		</h4>
		<!-- k-on-edit.delegate="onEdit($event.detail)" k-selectable="multiple" -->
		<ak-grid class="flex-row-1 overflow-y-auto" id="grid" k-data-source.bind="datasource" k-widget.bind="grid" k-sortable.bind="{ mode: 'multiple',   allowUnsort: 'true'}"
		 k-editable="popup" k-reorderable.bind="true" k-resizable.bind="true" k-height.bind="300" k-column-menu.bind="true">
			<div style="width: 1500px"></div>
			<!-- <ak-col k-filterable.bind="false" k-width="160px" k-title="Cmd" k-command.bind="['edit','delete']" k-title="&nbsp;" k-locked.bind="true"
					 k-lockable.bind="false"></ak-col>  -->
			<ak-col k-command="destroy" k-lockable.bind="true" k-title="Delete" k-width="85px"></ak-col>
			<ak-col k-locked.bind="true" k-lockable.bind="true"  k-title="Edit" k-width.bind="45" k-template="<button click.delegate='detailsEdit($event)' ><i class='fa fa-edit'></i></button>"></ak-col>
			<ak-col k-field="ProvOwner" k-title="Owner" k-width="350px" k-height="240px" k-filterable.bind="false" k-groupable.bind="false"></ak-col>
			<ak-col k-field="ProvLocDesc" k-title="Location" k-width="300px" k-editor.bind="locDropDownEditor" k-filterable.bind="false"
			 k-groupable.bind="false"></ak-col>
			<ak-col k-title="Date" k-field="ProvDate" k-filterable.bind="true" k-width.bind="120"> </ak-col>
			<ak-col k-field="ProvMemo" k-title="Note" k-width="350px" k-height="240px" k-editor.bind="textAreaEditor" k-filterable.bind="false"
			 k-groupable.bind="false"></ak-col>
			<ak-col k-field="Sequence" k-filterable.bind="true" k-width.bind="120">
			</ak-col>
		</ak-grid>
	</section>
</template>