<template>
	<require from="../../../resources/value-converters/date-format"></require>

	<section class="docs  full-height  flex-column-1 overflow-y-auto ignore">

		<h4>
			<!-- href="#/provenance/new"> -->
			<i class="fa fa-folder-open"></i> Reproduction
			<a slot="buttons-slot" class="btn btn-primary" click.delegate="addRepro()"> edit: ${reproduction.edit}

				<i class="fa fa-plus"></i> Add Reproduction
			</a>

		</h4>
		<!--   k-on-edit.delegate="onEdit($event.detail)" k-selectable="multiple" k-on-change.delegate="rowSelected($event.detail)"  k-pageable.bind="true" k-filterable.bind="{  mode: 'row' }" -->

	
				<ak-grid class="flex-row-1 overflow-y-auto" id="grid" k-data-source.bind="datasource" k-widget.bind="grid" k-sortable.bind="{ mode: 'multiple',   allowUnsort: 'true'}"
		 k-editable="popup" k-reorderable.bind="true" k-resizable.bind="true"
     
				 k-height.bind="300" k-column-menu.bind="true">
					 <div style="width: 1600px"></div>
          <ak-col k-filterable.bind="false" k-width="120px" k-title="Cmd" k-command.bind="['edit']" k-title="&nbsp;" k-locked.bind="true"
					 k-lockable.bind="false"></ak-col>


					<ak-col k-field="ReproductionAuthor" k-field="Author" k-filterable.bind="true" k-width.bind="140">
					</ak-col>
					<ak-col k-field="AuthorFirst" k-filterable.bind="true" k-width.bind="140">
					</ak-col>
					<ak-col k-field="AuthorLast" k-filterable.bind="true" k-width.bind="140">
					</ak-col>
					<ak-col k-field="ReproductionTitle" k-filterable.bind="true" k-field="Title" k-width.bind="140">
					</ak-col>
					<ak-col k-field="ReproductionName" k-filterable.bind="true" k-width.bind="140">
					</ak-col>
					<ak-col k-field="ReproductionDate" k-filterable.bind="true" k-width.bind="140">
					</ak-col>
					<ak-col k-field="ReproductionSortDate" k-filterable.bind="true" k-width.bind="120">
					</ak-col>


					<ak-col k-field="ReproductionLocationDesc" k-title="Loc" k-title="Location" 
          k-width="180px" k-editor.bind="locDropDownEditor"
					 k-filterable.bind="false" k-groupable.bind="false"></ak-col>


					<ak-col k-field="ReproductionTypeDesc" k-title="Type" k-title="Type" k-width="180px" k-editor.bind="typeDropDownEditor" k-filterable.bind="false"
					 k-groupable.bind="false"></ak-col>

					<ak-col k-field="ColorBWDesc" k-title="C/BW" k-width="180px" k-editor.bind="ColorBWDropDownEditor" k-filterable.bind="false"
					 k-groupable.bind="false"></ak-col>

					<ak-col k-field="ReproductionExhibit" k-title="Exh" k-width="180px" k-editor.bind="exhibitionDropDownEditor" k-filterable.bind="false"
					 k-groupable.bind="false"></ak-col>


					<ak-col k-field="no" k-filterable.bind="true" k-width.bind="140">
					</ak-col>
					<ak-col k-field="ReproductionPage" k-filterable.bind="true" k-width.bind="120">
					</ak-col>

					<ak-col k-title="Batch" k-width="110px" k-field="Batch"></ak-col>



				</ak-grid>

	</section>
</template>
<!-- 
	<ak-col k-title="ReproductionType" k-field="ReproductionType" k-width="140px">
						<ak-template>
							<ak-combobox k-value.two-way="ReproductionType">
								<select id="ReproductionTypez" class="form-control  input-sm" value.bind="Description"> 
                       <option model.bind="''">Choose...filterOnCode</option> 
                        <option repeat.for="opt of appService.codesPublicationType" model.bind="id">
                    ${opt.Description} 
                      </option> 
                    </select>
							</ak-combobox>
						</ak-template>
					</ak-col>




					<ak-col k-title="ColorBW" k-field="ColorBW" k-width="140px">
						<ak-template>
							<ak-combobox k-value.two-way="ColorBW">
								<select id="ReproductionLocationx" class="form-control  input-sm" value.bind="Description"> 
                       <option model.bind="''">Choose...filterOnCode</option> 
                        <option repeat.for="opt of appService.codesReproductionType" model.bind="id">
                    ${opt.Description} 
                      </option> 
                    </select>
							</ak-combobox>
						</ak-template>
					</ak-col>


					<ak-col k-title="Exhibit" k-field="ReproductionExhibit" k-width="140px">
						<ak-template>
							<ak-combobox k-value.two-way="ReproductionExhibit">


								<select id="ReproductionExhibitx" class="form-control  input-sm" value.bind="ReproductionExhibit"> 
                      <option model.bind="''" >Choose...</option> 
                         <option  repeat.for="opt of currentItem.exhibition" 
                         model.bind="opt.id">
               ${opt.id}  /  ${opt.ExhibitTitle} /  ${opt.ExhibitSponser}
                      </option> 
                    </select>


							</ak-combobox>
						</ak-template>
					</ak-col> -->


<!--	<ak-col k-field="ReproductionLocation"  k-title="Loc2" k-filterable.bind="true" k-width.bind="120">
				<ak-template>
					<select id="ReproductionLocation" class="form-control  input-sm" value.bind="Description"> 
                       <option model.bind="''">Choose...filterOnCode</option> 
                        <option repeat.for="opt of appService.codesProvenanceLocation" model.bind="Description">
                    ${opt.Description} 
                      </option> 
                    </select>
				</ak-template>
			</ak-col>
<ak-col k-field="RLoc" k-title="Loc4" k-width="180px" k-editor.bind="locDropDownEditor" k-filterable.bind="false"
			 k-groupable.bind="false"></ak-col>
 
  		<ak-col k-title="Loc" k-field="ReproductionLocationDesc" k-width="180px">
				<ak-template>
					<ak-combobox k-value.two-way="ReproductionLocationDesc">
						<select id="ReproductionLocationx" class="form-control  input-sm" value.bind="Description"> 
                       <option model.bind="''">Choose...filterOnCode</option> 
                        <option repeat.for="opt of appService.codesProvenanceLocation" model.bind="opt.Description">
                    ${opt.Description} 
                      </option> 
                    </select>
					</ak-combobox>
				</ak-template>
			</ak-col>
 
  -->

<!-- <ak-col k-title="Image" k-field="InventoryCode" k-width="220px">
				<ak-template>
					<ak-combobox k-value.two-way="size">
						<select style="width: 100%;">
                <option>X-Small</option>
                <option>Small</option>
                <option>Medium</option>
                <option>Large</option>
                <option>X-Large</option>
                <option>2X-Large</option>
              </select>
					</ak-combobox>
				</ak-template>

			</ak-col> -->

<!-- <ak-col k-width="120px" k-title="pop" 
   k-width="50px"
    k-template="<button click.delegate='rowpopSelected($event.detail)' class='k-button'>pop</button>">
   </ak-col>
		<ak-col k-field="ReproductionTitle"  k-title="Pop" k-width.bind="120" 
    k-template="<button click.delegate='rowpopSelected($event)' class='k-button'>ok</button>">
		</ak-col> -->