<template>


	<require from="../../resources/value-converters/get-artist"></require>
	<require from="../../resources/value-converters/upper-case"></require>

	<h3> Count: ${recct}

	</h3>
	<section class="full-height flex-column-1 au-animate ignore">
		<div class="Rtable Rtable--2cols">
			<div class="Rtable-cell-50 Rtable-cell">
				<ak-grid class="flex-row-1 overflow-y-auto" id="grid" k-data-source.bind="datasource" k-widget.bind="grid" k-sortable.bind="{ mode: 'multiple',   allowUnsort: 'true'}"
				 k-filterable.bind="{  mode: 'row' }" k-editable="inline" k-reorderable.bind="true" k-groupable.bind="true" k-resizable.bind="true"
				 k-selectable="[row]" k-on-edit.delegate="onEdit($event.detail)" k-on-data-bound.delegate="onDataBound($event.detail)"
				 k-on-change.delegate="rowSelected($event.detail)" k-column-menu.bind="true" k-pageable.bind="true">
					<ak-col k-title="CB" ref="CB" k-locked.bind="true" k-lockable.bind="false" k-width.bind="85" k-template="<input type='checkbox' class='checkbox' ref='T#=id#' id='T#=id#' ></> ">
						<ak-template for="headerTemplate">
							<input type='checkbox' class='checkboxY' checked.bind="isChecked" id='header-chb' />
						</ak-template>
					</ak-col>

 <ak-col k-field="LastName" k-filterable.bind="true" k-title="Last Name" 
      k-width.bind="180" k-template="<button click.delegate='detailsEdit($event)' class='k-button'>#=LastName#</button>">
			</ak-col>
					<ak-col k-title="FirstName" k-width="180px" k-field="FirstName"></ak-col>
					<!-- <ak-col k-title="LastName" k-width="180px" k-field="LastName"></ak-col> -->
					<ak-col k-title="count" k-width="180px" k-field="count"></ak-col>

				</ak-grid>
			</div>

			<div class="Rtable-cell-50 Rtable-cell">
				${dataItem.LastName},${dataItem.FirstName},${dataItem.count}
        		<div class="form-group flex-column-1 margin-left-10">
							<button id="searchInputBtn" class="btn btn-success" type="button" click.delegate="savedups()"><strong>S</strong>ave</button>
						</div>
<!--  -->
	<table class="table-condensed table">
			<thead class="table-header-blue">
				<tr>
 this.dups
					<tr>
						<th width="50px" class="header">ID		</th>
            <!-- <th width="50px" class="header">id		</th>-->
            	<th width="150px" class="header">Parent or 0</th>
            <th width="350px" class="header">Last		</th>
<th width="150px" class="header">First			</th>
<th width="50px" class="header">B/I			</th>
					
					</tr>
			</thead>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
			<tbody>
<tr repeat.for="contact of dups" with.bind="contact">

							<td width="50px">

${ID}
							</td>
					
<!-- ${id} -->
	<td width="150px">
									<input class="form-control input-sm" type="text" value.bind="parent">
			
					
							</td>
							<td width="250px">

								<input class="form-control input-sm" type="text" value.bind="LastName">
							</td>


							<td width="150px">

								<input class="form-control input-sm" type="text" value.bind="FirstName">
							</td>
	<td width="50px">

								<input class="form-control input-sm" type="text" value.bind="BusIndivid">
							</td>

				

				

				</tr>
			</tbody>
		</table>





<!--  -->
			</div>
		</div>

	</section>

</template>