<!-- <template>
  <h3>Aurelia Bootstrap Select</h3>
  <abp-select collection.bind="allCondiments"></abp-select>
  
</template> -->
<template>
	<require from="../../resources/value-converters/stringify"></require>

	<h3>Aurelia Bootstrap Select </h3>
  
	<div class="col-md-12">
		<div class="form-group">
      <div>
	<label class="control-label">Basic - Simple String Collection with Search </label>
	<abp-select empty-on-null="true" picker-options.bind="{ liveSearch: true ,liveSearchPlaceholder:'search',actionsBox:true}"
   collection.bind="allCondimentsbase"></abp-select>
	</div>
	<div >
		<abp-select  multiple="true" picker-options.bind="{ actionsBox: true, width:'400px' }" collection.bind="allCondimentsbase"></abp-select>

	</div>

	<div >
		<abp-select  multiple="true" picker-options.bind="{ actionsBox: true,size:'auto' }" collection.bind="allCondimentsbase"></abp-select>

	</div>
			<label class="control-label">Basic - String Collection</label>
			<div>Value: ${camping}<br /> Item: ${campingValue}</div>
			<div>
				<abp-select collection.bind="allCampingStuff" selected-value.bind="camping" selected-item.bind="campingValue"></abp-select>
			</div>

			<label class="control-label">Object Collection - Empty on Null, Change Title, Class Styling, Alternate Title (on Relish)</label>
			<div>Value: ${condimentValue} <br /> Item: ${condiment | stringify}</div>
			<div>
				<abp-select picker-options.bind="selectOptions" empty-on-null="true" selected-item.bind="condiment" selected-value.bind="condimentValue"
				 disabled="false" collection.bind="allCondiments" data-mapping-structure.bind="selectMappingStructure" object-key="id"
				 element.bind="selectCondiment"></abp-select>
			</div>

			<label class="control-label">Object Collection - Data Content &amp; disabled last item</label>
			<div>Value: ${condimentStyledValue} <br /> Item: ${condimentStyled | stringify}</div>
			<div>
				<abp-select picker-options.bind="selectOptions" selected-item.bind="condimentStyled" selected-value.bind="condimentStyledValue"
				 disabled="false" collection.bind="allStyledCondiments" data-mapping-structure.bind="selectMappingStructure" object-key="id"
				 element.bind="selectStyledCondiment"></abp-select>
			</div>

			<label class="control-label">Optgroups, Multiple &amp; disabled last bread option</label>
			<div>Values: ${picnicValue} <br /> Items: ${picnic | stringify}</div>
			<div>
				<abp-select id="multiSelect" picker-options.bind="selectOptions" selected-item.bind="picnic" selected-value.bind="picnicValue"
				 collection.bind="allSelectionWithGroups" has-optgroup="true" data-mapping-structure.bind="selectMappingStructure" multiple="true"
				 object-key="id" element.bind="selectPicnic"></abp-select>
			</div>

		</div>
	</div>



</template>
