<template>
	<require from="aurelia-kendoui-bridge/multiselect/multiselect"></require>
	<require from="../../resources/value-converters/stringify"></require>
  
	<require from="../../../styles/flex.css"></require>  
	<ux-dialog>
		<ux-dialog-header class="modal-header modal-header-success">
				<div class="alert alert-danger">
				<h1> ${heading}</h1>
			</div>
	

		</ux-dialog-header>
		<ux-dialog-body>

		
				<div class="form-group flex-column-1">
					<h2> ${doc} </h2>
					<table class="table-condensed table">
						<thead class="table-header-blue" data-sort="items.bind: currentItem.docs; cols: ['FILE_NAME','FILE_EXT']">
							<tr>
								<th class="header">Inventory Exhibit </th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<td></td>
							</tr>
						</tfoot>
						<tbody>
							<tr repeat.for="doc of appService.selectedids">
								<td>
								</td>
								<td><input type="text" id="InventoryCodes" class="form-control  input-sm" value.bind="doc"></td>
							</tr>
						</tbody>
					</table>
				</div>
	
	


			<hr>
		</ux-dialog-body>

		<ux-dialog-footer>

			<button show.bind="addlist" click.trigger="addit()">Add New Saved List</button>
			<button click.trigger="controller.cancel()">Cancel and Close </button>
			<button click.trigger="save()">Save and Close </button>

		</ux-dialog-footer>
	</ux-dialog>
</template>

