<template>

	<section class="docs full-height flex-column-1 overflow-y-auto ignore">
		<h4>
			<i class="fa fa-folder-open"></i> Address
			<a slot="buttons-slot" class="btn btn-primary" click.delegate="addAddress()">
				<i class="fa fa-plus"></i> Add Address
			</a>
		</h4>

		<table class="table-condensed table">
			<thead class="table-header-blue" data-sort="items.bind: currentItem.addresses; cols: ['WorkDate','Notes']">
				<tr>

					<!-- <th width="70px" class="header">Id </th> -->
        	<th width="320px" class="header">Org </th>
					<th width="220px" class="header">Address </th>
					<th width="220px" class="header">City </th>
					<th width="180px" class="header">State </th>
					<th width="100px" class="header">Zip </th>
					<th width="120px" class="header">Country </th>
			    <th width="65px" class="header">Primary</th>

					<th width="300px" class="header">Note </th>

					<th width="225px" class="header">Cmd</th>

				</tr>
			</thead>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
			<tbody>
 		
				<tr repeat.for="address of currentItem.addresses" with.bind="address">
						<td width="320px"><input type="text" id="OrgName" class="form-control  input-sm" value.bind="OrgName"></td>
			
        
        		<td width="220px">
            
         <!-- <input type="textarea" lines=3 id="xContactAddress" class="form-control  input-sm" value.bind="address"></td> -->
			


      
      <textarea rows="3" cols="100" id="100" class="form-control input-sm" value.bind="address"></textarea>
		
      		<td width="220px"><input type="text" id="xContactCity" class="form-control  input-sm" value.bind="city"></td>

					<td width="180px">
						<!-- <input type="text" id="xContactState" class="form-control  input-sm" value.bind="state"> -->


						<select id="state" class="form-control " value.bind="state">
											<option model.bind="null">Choose...</option>
											<option repeat.for="opt of appService.stateList " model.bind="opt.value">
												${opt.name}
											</option>
										</select>
					</td>


					<td width="120px"><input type="text" id="xContactZip" class="form-control  input-sm" value.bind="zip"></td>

					<td width="100px"><input type="text" id="xContactCountry" class="form-control  input-sm" value.bind="country"></td>
					<!-- <td width="220px"><input type="text" id="xAddressLetter" class="form-control  input-sm" value.bind="letter"></td> -->

					<td width="65px">
						<input type="checkbox" id="Primary" checked.bind="Primary">


					</td>
					<td width="300px"><input type="text" id="Address_Notes" class="form-control  input-sm" value.bind="notes"></td>



					<!--if using edit <td width="300px">
          	<span show.bind="!note.edit">${Notes}</span>

						<input show.bind="note.edit" class="form-control input-sm" disabled.bind="!note.edit" type="text" value.bind="Notes">
         	</td> -->


					<td width="225px">

						<!-- <button class="btn btn-primary" click.delegate="saveitem(address,$index)">${ !address.edit ? 'Edit' : 'Save' }</button> -->
						<!-- <button class="btn btn-success" click.delegate="modal(address,$index)">Pop</button> -->
						<button class="btn btn-sm btn-danger" click.delegate="remove(address,$index)">           Delete            </button>
						<button class="btn btn-sm btn-primary" click.delegate="build(address,$index)">           Build    </button>

					</td>
				</tr>
			</tbody>
		</table>


	</section>
</template>