<template>
	<!-- "ID" : NumberInt(6), 
    "ContactID" : NumberInt(6), 
    "OrgID" : NumberInt(7), 
    "LocID" : " ", 
    "ContactAddress" : " ", 
    "ContactCity" : " ", 
    "ContactState" : " ", 
    "City" : " ", 
    "State" : " ", 
    "ContactZip" : " ", 
    "ContactCountry" : " ", 
    "AddressLetter" : "Mr Robert Adams", 
    "AddressNotes" : " ", 
    "Print" : "N",  -->

	<require from="./docs.css"></require>
	<section class="docs full-height flex-column-1 overflow-y-auto ignore">
		<h4>
			<i class="fa fa-folder-open"></i> Address
			<a slot="buttons-slot" class="btn btn-primary" click.delegate="addExhibit()">
				<i class="fa fa-plus"></i> Add Address
			</a>
		</h4>

		<table class="table-condensed table">
			<thead class="table-header-blue" data-sort="items.bind: currentItem.address; cols: ['WorkDate','Notes']">
				<tr>
    
	<th width="70px" class="header">Id </th>
					<th width="220px" class="header">Address </th>
					<th width="220px" class="header">City </th>
					<th width="220px" class="header">State </th>
					<th width="220px" class="header">Zip </th>
					<th width="220px" class="header">Country </th>
					<th width="120px" class="header">AddressLetter </th>

					<th width="120px" class="header">Note </th>

					<th width="225px" class="header">Cmd</th>

				</tr>
			</thead>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
			<tbody>  
				<tr repeat.for="address of currentItem.addresses" with.bind="address">
      		<td width="70px"><input type="text" id="id" class="form-control  input-sm" value.bind="address.id"></td>
					<td width="220px"><input type="text" id="ContactAddress" class="form-control  input-sm" value.bind="address"></td>
					<td width="220px"><input type="text" id="ContactCity" class="form-control  input-sm" value.bind="city"></td>
			
					<td width="300px"><input type="text" id="ContactState" class="form-control  input-sm" value.bind="state"></td>
					<td width="220px"><input type="text" id="ContactZip" class="form-control  input-sm" value.bind="zip"></td>
  				<td width="300px"><input type="text" id="ContactCountry" class="form-control  input-sm" value.bind="country"></td>
					<td width="220px"><input type="text" id="AddressLetter" class="form-control  input-sm" value.bind="letter"></td>
				
					<td width="220px"><input type="text" id="AddressNotes" class="form-control  input-sm" value.bind="notes"></td>
					<td width="225px">
						<button class="btn btn-primary" click.delegate="saveitem(address,$index)">${ !address.edit ? 'Edit' : 'Save' }</button>
						<button class="btn btn-success" click.delegate="modal(address,$index)">Pop</button>
          	<button class="btn btn-sm btn-danger" click.delegate="remove(address,$index)">           Delete            </button>
					</td>
				</tr>
			</tbody>
		</table>


	</section>
</template>