<template>
	<style>
		table thead tr {
			display: block;
		}

		table th,
		table td {
			width: 80% //1200px;//fixed width
		}

		table tbody {
			display: block;
			height: 500px;
			overflow: auto; //set tbody to auto
		}
	</style>
	<!-- <require from="./docs.css"></require> -->
	<section class="docs full-height flex-column-1 overflow-y-auto ignore">
		<h4>
			<i class="fa fa-folder-open"></i> Artists
			<a slot="buttons-slot" class="btn btn-primary" click.delegate="addItem()">
				<i class="fa fa-plus"></i> Add Artist
			</a>
		</h4>
    ${ currentItem.artists[0].ArtistName}
		<table ref='htmltable' class="table-condensed table">
			<thead class="table-header-blue">
				<tr>

					<tr>
						<th width="350px" class="header">Artist
						</th>

						<th width="225px" class="header">Cmd

						</th>
					</tr>
			</thead>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
			<tbody>

				<tr  repeat.for="artist of currentItem.artists" with.bind="artist">

					<td width="350px">
				
								<div class="form-control input-sm" if.bind="artist.ArtistName===undefined || artist.ArtistName===''">
				
            	<a click.delegate="showModal( 'id',$index)">select_link </a>
						</div>
					
          

 

            <a click.delegate="showModal('id',$index)">${artist.ArtistName}  
              <span show.bind="artist.died==='' || artist.died===0 || artist.died===undefined|| currentItem.artist.died===null"> (b.${artist.yearofBirth})</span>
              <span show.bind="artist.died!==''  && artist.died!==0 && artist.died!==undefined || currentItem.artist.died===null"> (${artist.yearofBirth}-${artist.died})</span></strong>
              
            </a>


					</td>


					<td width="225px">
						<!--button class="btn btn-primary" click.delegate="artist.edit=!artist.edit">${ !artist.edit ? 'Update' : 'Done' }</button--> 

					
						<button class="btn btn-sm btn-danger" click.delegate="remove(artist,$index)">Delete</button>

					</td>

				</tr>
			</tbody>
		</table>

	</section>
</template>