<template>
	<!-- <require from="./docs.css"></require> -->
	<style>
		table thead tr {
			display: block;
		}

		table th,
		table td {
			width: 80% //1200px;//fixed width
		}

		table tbody {
			display: block;
			height: 500px;
			overflow: auto; //set tbody to auto
		}
	</style>
	<require from="../../../resources/value-converters/date-format"></require>
	<require from="../../../resources/value-converters/date-formatiso"></require>

	<section class="docs full-height flex-column-1 overflow-y-auto ignore">
		<h4>
			<i class="fa fa-folder-open"></i> Catalog Sent
			<a slot="buttons-slot" class="btn btn-primary" click.delegate="addItem()">
				<i class="fa fa-plus"></i> Add catalogsent
			</a>

		</h4>




		<table class="table-condensed table">
			<thead class="table-header-blue">

				<tr>

					<th width="450px" class="header">Catalog></th>
					<th width="125px" class="header">Date Sent</th>

					<th width="95px" class="header">Qty</th>
					<th width="225px" class="header">Cmd</th>


				</tr>
			</thead>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>

				</tr>
			</tfoot>
			<tbody>


				<tr repeat.for="catalogsent of currentItem.catalogsent " with.bind="catalogsent">
					<td width="450px">

						<!-- <div class="form-control input-sm" ref='catname' if.bind="CatalogTitle===undefined || CatalogTitle===''"> -->
						<div class="form-control input-sm" if.bind="CatalogTitle===undefined || CatalogTitle===''">

							<a click.delegate="showModal( 'id','CatalogID',$index)">select_link </a>
						</div>
						<div class="form-control  input-sm" else>
							<a click.delegate="showModal('id','CatalogID',$index)"> ${CatalogTitle} </a>
						</div>

					</td>
					<!-- <td></td> -->

					<td width="125px">
						<input class="form-control input-sm" type="date" value.bind="DateSent | dateFormatiso">

					</td>
					<td width="95px"><input type="text" id="Qty" class="form-control  input-sm" value.bind="Qty"></td>

					<td width="225px">


						<button class="btn btn-danger" click.delegate="remove(catalogsent,$index)">Delete</button>
					</td>

				</tr>
			</tbody>
		</table>
	</section>
</template>