<!-- "genres" : [
        {
            "_id" : ObjectId("5c26ab7b18b45eec4d910806"), 
            "ID" : NumberInt(5714), 
            "ContactID" : NumberInt(7), 
            "OrgID" : "", 
            "GenreID" : NumberInt(2268), 
            "GenreNotes" : "", 
            "createdAt" : ISODate("2018-12-28T23:02:19.744+0000"), 
            "updatedAt" : ISODate("2018-12-28T23:02:19.744+0000")
        }
    ],  -->
<!-- 
<template>
	<style>
		table thead tr {
			display: block;
		}

		table th,
		table td {
			width: 80% 
		}


		table tbody {
			display: block;
			height: 250px;
			overflow: auto; 
		}
	</style>
	<section class="docs full-height flex-column-1 overflow-y-auto ignore">

		<div class="Rtable Rtable--2cols">
			<div class="Rtable-cell-50 Rtable-cell">
				<h4>
					<i class="fa fa-folder-open"></i> Genre
					<a slot="buttons-slot" class="btn btn-primary" click.delegate="addGenre()">
						<i class="fa fa-plus"></i> Add Genre
					</a>
				</h4>
			</div>

			<div class="Rtable-cell-50 Rtable-cell--highlight">
				<table class="table-condensed table">
					<thead class="table-header-blue">

						<tr>
							<th width="100px" class="header">Genre
							</th>
							<th width="200px" class="header">GenreNotes
							</th>


						</tr>
					</thead>
					<tfoot>
						<tr>
							<td></td>
							<td></td>

						</tr>
					</tfoot>
					<tbody>

						<tr repeat.for="genre of currentItem.genres" with.bind="genre">

							<td width="100px">

								<select id="genre" class="form-control  input-sm" value.bind="genre.GenreID"> 
                      <option model.bind="null">Choose...filterOnCode</option> 
                         <option repeat.for="opt of appService.codesGenre " model.bind="opt.id">
                    ${opt.Description} 
                      </option> 
                    </select>

							</td>

							<td width="300px">

								<input class="form-control input-sm" type="text" value.bind="GenreNotes">
							</td>



					</tbody>
				</table>
			</div>

	</section>
</template> -->



<template>
	<style>
		table thead tr {
			display: block;
		}

		table th,
		table td {
			width: 80% //1200px;//fixed width
		}

		table tbody {
			display: block;
			height: 500px;
			overflow: auto; //set tbody to auto
		}
	</style>
	<!-- <require from="./docs.css"></require> -->
	<section class="docs full-height flex-column-1 overflow-y-auto ignore">
		<h4>
			<i class="fa fa-folder-open"></i> Genre
			<a slot="buttons-slot" class="btn btn-primary" click.delegate="addGenre()">
				<i class="fa fa-plus"></i> Add Genre
			</a>
		</h4>
		<table class="table-condensed table">
			<thead class="table-header-blue">
				<tr>

					<tr>
						<th width="350px" class="header">Genre
						</th>

						<th width="300px" class="header">GenreNotes

						</th>
					</tr>
			</thead>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
			<tbody>
				<tr repeat.for="genre of currentItem.genres" with.bind="genre">

							<td width="350px">
<!-- opt opt.id or opt.description -->
								<select id="genre" class="form-control  input-sm" value.bind="GenreID"> 
                      <option model.bind="null">Choose...filterOnCode</option> 
                         <option repeat.for="opt of appService.codesGenre " model.bind="opt.id">
                    ${opt.Description} 
                      </option> 
                    </select>

							</td>

							<!-- <td width="300px">

								<input class="form-control input-sm" type="text" value.bind="GenreNotes">
							</td> -->



			

					<td width="225px">
				
						<button class="btn btn-sm btn-danger" click.delegate="remove(genre,$index)">Delete</button>

					</td>

				</tr>
			</tbody>
		</table>

	</section>
</template>