<template>


	<style>
		.RLeft {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin: 0 0 1em 0;
			padding: 0;
			width: 70%;
		}
	</style>

	<div class="flex-row-none">
		<div class="RLeft">

			<div class="form-group flex-column-1 ">
				<div class="Rtable Rtable--2cols">

					<div class="Rtable-cell-30 Rtable-cell--highlight">
						<strong> OrgName</strong>
					</div>
					<div class="Rtable-cell-70  Rtable-cell--highlight">
						<input type="text" id="OrgName" class="form-control input-sm" value.bind="currentItem.org.OrgName">
					</div>
					<div class="Rtable-cell-30 Rtable-cell--highlight">
						<strong> Address</strong>
					</div>
					<div class="Rtable-cell-70  Rtable-cell--highlight">
						<input type="text" id="Address" class="form-control input-sm" value.bind="currentItem.org.Address">
					</div>
					<div class="Rtable-cell-30 Rtable-cell--highlight">
						<strong> City</strong>
					</div>
					<div class="Rtable-cell-70  Rtable-cell--highlight">
						<input type="text" id="City" class="form-control input-sm" value.bind="currentItem.org.City">
					</div>
					<div class="Rtable-cell-30 Rtable-cell--highlight">
						<strong> State</strong>
					</div>
					<div class="Rtable-cell-70  Rtable-cell--highlight">
						<input type="text" id="State" class="form-control input-sm" value.bind="currentItem.org.State">
					</div>
        	<div class="Rtable-cell-30 Rtable-cell--highlight">
						<strong> Zip</strong>
					</div>
					<div class="Rtable-cell-70  Rtable-cell--highlight">
						<input type="text" id="Zip" class="form-control input-sm" value.bind="currentItem.org.Zip">
					</div>
        
         
        	<div class="Rtable-cell-30 Rtable-cell--highlight">
						<strong> Status</strong>
					</div>
					<div class="Rtable-cell-70  Rtable-cell--highlight">
						<input type="text" id="PurchasedDate" class="form-control input-sm" value.bind="currentItem.org.Status">
					</div>
				</div>
	<div class="Rtable-cell-30 Rtable-cell--highlight">
						<strong> Status</strong>
					</div>
					<div class="Rtable-cell-70  Rtable-cell--highlight">
						<input type="text" id="PurchasedDate" class="form-control input-sm" value.bind="currentItem.org.Status">
					</div>
				</div>


			</div>
			<div class="form-group flex-column-1 margin-left-10">
				<div class="Rtable Rtable--2cols">
					

					

					<div class="Rtable-cell-30 Rtable-cell--highlight">
						<strong> Notes</strong>
					</div>
					<div class="Rtable-cell-70  Rtable-cell--highlight">
						<input type="text" id="BusIndivid" class="form-control input-sm" value.bind="currentItem.org.Notes">
					</div>

				</div>

			</div>
		</div>
	</div>
</template>