<template>

	<style>
		table thead tr {
			display: block;
		}

		table th,
		table td {
			width: 80% //1200px;//fixed width
		}


		table tbody {
			display: block;
			height: 250px;
			overflow: auto; //set tbody to auto
		}
	</style>
	<section class="docs full-height flex-column-1 overflow-y-auto ignore">
	
		<div class="Rtable Rtable--2cols">
			<div class="Rtable-cell-50 Rtable-cell">
				<h4>
					<i class="fa fa-folder-open"></i> Phone: split on conversion all old types goto notes
					<a slot="buttons-slot" class="btn btn-primary" click.delegate="addPhone()">
						<i class="fa fa-plus"></i> Add Phone
					</a>
				</h4>
			</div>
			<div class="Rtable-cell-50 Rtable-cell">
				<h4>
					<i class="fa fa-folder-open"></i> Email:
					<a slot="buttons-slot" class="btn btn-primary" click.delegate="addEmail()">
						<i class="fa fa-plus"></i> Add Email
					</a>
				</h4>
			</div>
		</div>
		<div class="Rtable Rtable--2cols">
			<div class="Rtable-cell-50 Rtable-cell--highlight">
				<table class="table-condensed table">
					<thead class="table-header-blue">
						<tr>

							<tr>
								<th width="100px" class="header">Type
								</th>
								<th width="200px" class="header">Phoneno
								</th>
								<th width="100px" class="header">Area
								</th>
								<th width="100px" class="header">Ext
								</th>
								<th width="100px" class="header">Note
								</th>
								<th width="100px" class="header">Cmd

								</th>
							</tr>
					</thead>
					<tfoot>
						<tr>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tfoot>
					<tbody>
						<tr repeat.for="phone of currentItem.phones" with.bind="phone">

							<td width="100px">


								<select id="phonetype" class="form-control  input-sm" value.bind="type"> 
                      <option model.bind="null">Choose...</option> 
                         <option repeat.for="opt of appService.codesPhoneType " model.bind="opt.id">
                    ${opt.Description} 
                      </option> 
                    </select>

							</td>
							<td width="200px">
									<input class="form-control input-sm" type="phone" value.bind="phoneno">

							</td>
							<td width="100px">
									<input class="form-control input-sm" type="text" value.bind="area">
							</td>
							<td width="100px">
								<input class="form-control input-sm" type="text" value.bind="ext">
							</td>
							<td width="100px">

								<input class="form-control input-sm" type="text" value.bind="Note">

							</td>
							<td width="100px">

								<input class="form-control input-sm" type="text" value.bind="notes">

							</td>
						<td width="100px">
		<button class="btn btn-sm btn-danger" click.delegate="removePhone(phone,$index)">Delete</button>

							</th>


					</tbody>
				</table>
			</div>
			<div class="Rtable-cell-50 Rtable-cell--highlight">
			

				<table class="table-condensed table">
					<thead class="table-header-blue">
						<tr>

							<tr>
								<th width="100px" class="header">Type
								</th>
								<th width="200px" class="header">Email
								</th>
								<th width="200px" class="header">Unsub(false on conversion)
								</th>
								<th width="100px" class="header">Note
								</th>

								<th width="100px" class="header">Cmd

								</th>
							</tr>
					</thead>
					<tfoot>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tfoot>
					<tbody>
						<tr repeat.for="email of currentItem.emails" with.bind="email">

							<td width="100px">

								<select id="phonetype" class="form-control  input-sm" value.bind="type"> 
                        <option model.bind=0>Choose...</option> 
                    
                         <option repeat.for="opt of appService.codesEmailType " model.bind="opt.id">
                    ${opt.Description} 
                      </option> 
                    </select>

							</td>
							<td width="200px">
						
								<input class="form-control input-sm" type="email" value.bind="email">
							</td>
							<td width="200px">
							
								<span if.bind="unsub===undefined">-</span>
             	<input type="checkbox" id="unsub" checked.bind="unsub"> ${unsub}
							</td>
							<td width="100px">
								<input class="form-control input-sm" type="text" value.bind="Note">

							</td>
							<th width="100px" class="header">
								<button class="btn btn-sm btn-danger" click.delegate="removeEmail(email,$index)">Delete</button>

							</th>


					</tbody>
				</table>
			</div>


		</div>

	</section>
</template>