<template>


	<!--  -->
	<section style="width:50%;" class="full-height flex-column-1 au-animate ignore">
		<div class="flex-row-none section-header">
			Search ${heading} Artist
		</div>

		<div class="flex-column-1 overflow-y-auto">
			<div id="top" class="flex-row-3">
				<div id="top-left" class="data-form overflow-y-auto flex-column-2">
					<div class="flex-row-none">
						<div class="form-group flex-column-2">
						

								<div class="Rtable Rtable--2cols">
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Select </strong>
									</div>
									<div class="Rtable-cell-70 Rtable-cell--highlight">
										<input style="width:400px" ref="myDatalistA" type="text" list="myDatalistA" change.delegate="performSearch()" value.bind="selectedArtist" />
										<datalist id="myDatalistA">
											<option repeat.for="option of appService.artistList" model.bind="option">${option.ArtistName} - ${option.YearofBirth} </option>

										</datalist>

									</div>




								</div>

							</div>
						</div>
					
				</div>
			</div>




			<div class="flex-row-none section-footer">
				${footer} <span>  ${queryParams}</span> <span>&nbsp;&nbsp;	
    	<button id="addInputBtn" class="btn btn-sm btn-success" type="button" click.delegate="addartist()"><strong>A</strong>dd Artist</button>
		</div>



      	
			
		
	</section>
</template>

	<!-- <pre style="margin-top: 100px"><code>${selectedValueA.ArtistName} b.${option.YearofBirth} legacyid:${option.ID}    legacyid:${option.id}</code></pre> -->
			<!-- model.bind="option" <option repeat.for="option of appService.artistList">${option.ArtistName} ${option.id} b.${option.YearofBirth} </option> -->
				
<!-- 

					<button id="searchInputBtn" class="btn btn-primary" type="button" click.delegate="performSearch()">Search!</button>
			-->
	<!--  	input.delegate="selectedValueA = findOptionA($event.target.value)" 
          change.delegate="changeCallbackArtist(selectedValue)"  -->
         

          
<!-- "ID" : NumberInt(38), 
    "Nationality" : NumberInt(0), 
    "PhoneTypeID" : " ", 
    "Type" : NumberInt(1), 
    "FirstName" : "John", 
    "LastName" : "Chamberlain", 
    "YearofBirth" : "1927", 
    "Died" : "2011", 
    "Notes" : " ", 
    "Middle" : " ", 
    "Genre" : " ", 
    "createdAt" : ISODate("2018-12-15T22:33:19.233+0000"), 
    "updatedAt" : ISODate("2018-12-15T22:33:19.233+0000")
	<div class="flex-row-none">
						<div class="form-group flex-column-1">
							<input id="searchartistl" type="text" class="form-control" placeholder="Search for inv artist last..." value.bind="search.artistl">
						</div>
						<div class="form-group flex-column-1 margin-left-10">
							<input id="searchartistf" type="text" class="form-control" placeholder="Search for inv artist first..." value.bind="search.artistf">
						</div>
					</div> -->