<template>
	<require from="./flex.css"></require>
	<section class="full-height flex-column-1 au-animate ignore">
		<div class="flex-row-none section-header">
			${heading} Artist
		</div>
    	<button id="addArtistBtn" class="btn btn-success" type="button" click.delegate="addartist()"><strong>A</strong>dd Artist</button>
	
		<div class="flex-column-1 overflow-y-auto">
			<form class="flex-column-1">
				<div id="top" class="flex-row-3">
					<div id="top-left" class="data-form overflow-y-auto flex-column-2">

						<div class="flex-row-none">
							<div class="form-group flex-column-1">
								<div class="Rtable Rtable--2cols">
									<div class="Rtable-cell-30 Rtable-cell--green">
										<strong> id</strong>
									</div>

									<div class="Rtable-cell-70  Rtable-cell--green">
										<input type="text" id="id" class="form-control input-sm" value.bind="artist.id">
									</div>
									<div class="Rtable-cell-30 Rtable-cell--green">
										<strong> LastName</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--green">
										<input type="text" id="LastName" class="form-control input-sm" value.bind="artist.LastName">
									</div>
									<div class="Rtable-cell-30 Rtable-cell--green">
										<strong> FirstName</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--green">
										<input type="text" id="FirstName" class="form-control input-sm" value.bind="artist.FirstName">
									</div>



									<div class="Rtable-cell-30 Rtable-cell--green">
										<strong> YearofBirth</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--green">
										<input type="text" id="YearofBirth" class="form-control input-sm" value.bind="artist.YearofBirth">
									</div>

									<div class="Rtable-cell-30 Rtable-cell--green">
										<strong> Died</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--green">
										<input type="text" id="Died" class="form-control input-sm" value.bind="artist.Died">
									</div>
								



								<div class="Rtable-cell-30 Rtable-cell--green">
									<strong> Notes</strong>
								</div>
								<div class="Rtable-cell-70  Rtable-cell--green">
									<input type="text" id="Notes" class="form-control input-sm" value.bind="artist.Notes">
								</div>
							</div>


						</div>


					</div>

				</div>

				<div id="bottom-left" class="flex-row-3">
					<div id="data-form-ext" class="flex-column-1">
						<div id="data-form-one-to-many-tabs" class="flex-row-none flex-wrap">
							<div repeat.for="tab of appService.dataFormOneToManyTabs3" class="tab tab-top ${tab.isSelected ? 'tab-selected' : ''}">
								<div class="form-tab-box" click.delegate="selectOneToManyTab(tab)">
									<span>${tab.name}</span>
								</div>
							</div>
						</div>
						<div id="data-form-one-to-many-tab-content overflow-y-hidden" class="data-form flex-row-1" style="background: darkgray;">
							<compose view-model.bind="currentOneToManyTab.viewModel"></compose>
						</div>
					</div>
				</div>


			</form>
		</div>
		<div class="flex-column-none section-footer">

			<span>&nbsp;&nbsp;	
          <button class="btn btn-sm btn-danger" click.delegate="saveartist()">
                  Save & Close Artist
          </button>
        </span>
			<span>&nbsp;&nbsp;	
          <button class="btn btn-sm btn-danger" click.delegate="close()">
                 Close
          </button>
        </span>
		</div>
	</section>
</template>