<template>
  <style>
    	#data-form-ext .tab.tab-selected .form-tab-box {
			background-color: lightblue;
			border-color: #7bbbce
		}
</style>
	<require from="./flex.css"></require>
	<section class="full-height flex-column-1 au-animate ignore">
		<div class="flex-row-none section-header">
			${heading} Org
		</div>
		<div class="flex-column-1 overflow-y-auto">
			<form class="flex-column-1">
				<div id="top" class="flex-row-none">
					<div id="top-left" class="data-form overflow-y-auto flex-column-2">
						<div class="flex-row-none">
							<div class="form-group flex-column-1 Rtable-cell--highlight">

								<div class="Rtable Rtable--2cols">
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> OrgName</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="OrgName" class="form-control input-sm" value.bind="org.OrgName">
									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Address</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="Address" class="form-control input-sm" value.bind="org.Address">
									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> City</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="City" class="form-control input-sm" value.bind="org.City">
									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> State</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="State" class="form-control input-sm" value.bind="org.State">
									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Zip</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="Zip" class="form-control input-sm" value.bind="org.Zip">
									</div>


									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Status</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="PurchasedDate" class="form-control input-sm" value.bind="org.Status">
									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Notes</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="BusIndivid" class="form-control input-sm" value.bind="org.Notes">
									</div>
								</div>

							</div>
							<div class="form-group flex-column-1 margin-left-10">
								<div class="Rtable Rtable--2cols">

									<div class="Rtable-cell-30 Rtable-cell--green">
										<strong> side</strong>
									</div>



								</div>
							</div>

						</div>
					</div>

				</div>

					<div if.bind="recordId==='create'">Create Mode. Please save record before entering tabs </div>
				<div else>

					<div id="bottom-left" class="flex-row-3">
						<div id="data-form-ext" class="flex-column-1">
							<div id="data-form-one-to-many-tabs4" class="flex-row-none flex-wrap">
								<div repeat.for="tab of appService.dataFormOneToManyTabs4" class="tab ${tab.isSelected ? 'tab-selected' : ''}">
									<div class="form-tab-box" click.delegate="selectOneToManyTab(tab)">
										<span>${tab.name}</span>
									</div>
								</div>
							</div>
							<div id="data-form-one-to-many-tab-content overflow-y-hidden" class="data-form flex-row-1" style="background:
										 darkgray;">
								<compose view-model.bind="currentOneToManyTab.viewModel"></compose>
							</div>
						</div>
					</div>
				</div>

			</form>
		</div>
		<div class="flex-column-none section-footer">
			<!-- ${footer} -->

			<span>&nbsp;&nbsp;	
          <button class="btn btn-sm btn-danger" click.delegate="saveclaim()">
                  Save & Close Claim
          </button>
        </span>
			<span>&nbsp;&nbsp;	
          <button class="btn btn-sm btn-danger" click.delegate="close()">
                 Close
          </button>
        </span>
		</div>


	</section>
</template>