<template>
  <h1>Hello World</h1>
</template>
<template>
  <require from="aurelia-kendoui-bridge/grid/grid"></require>
  <require from="aurelia-kendoui-bridge/grid/col"></require>
  <require from="aurelia-kendoui-bridge/common/template"></require>
  <section>
    <ak-grid k-data-source.bind="datasource" k-pageable.bind="pageable" k-sortable.bind="true">
      <ak-col k-title="Contact Name" k-field="ContactName">
        <ak-template>
          <div class="customer-photo" style="background-image: url(https://demos.telerik.com/kendo-ui/content/web/Customers/${CustomerID}.jpg);"></div>
          <div class="customer-name">${ContactName}</div>
        </ak-template>
      </ak-col>
      <ak-col k-title="Contact Name" k-field="ContactName"></ak-col>
      <ak-col k-title="Contact Title" k-field="ContactTitle"></ak-col>
      <ak-col k-title="Company Name" k-field="CompanyName"></ak-col>
      <ak-col k-field="Country"></ak-col>
    </ak-grid>
  </section>
</template>




	<ak-grid class="flex-row-1 overflow-y-auto" id="grid" k-data-source.bind="datasource" k-widget.bind="grid" k-sortable.bind="{ mode: 'multiple',   allowUnsort: 'true'}"
		 k-selectable="[row,multiple]" k-filterable.bind="{  mode: 'row' }" k-editable="inline" k-reorderable.bind="true" k-groupable.bind="true"
		 k-resizable.bind="true" k-toolbar.bind="['excel']" k-excel.bind="{ fileName: 'inmates.xlsx' }" "
		 k-column-menu.bind="true " k-pageable.bind="true ">

		
			<ak-col k-title="Last " k-width="100px " k-field="lastname " k-locked.bind="true " k-lockable.bind="false "></ak-col>
			<ak-col k-title="First " k-width="90px " k-field="firstname " k-locked.bind="true " k-lockable.bind="false "></ak-col>
			<ak-col k-title="ss " k-width="100px " k-field="ss " k-locked.bind="true " k-lockable.bind="false "></ak-col>
			<ak-col k-title="Gender " k-width="110px " k-field="gender " k-locked.bind="true " k-lockable.bind="false "></ak-col>
			<ak-col k-title="DOB " k-width="100px " k-locked.bind="true " k-lockable.bind="false " k-field="DOB
		 " k-filterable.bind="true "
			 k-format="{0:MM/dd/yyyy} "></ak-col>
			
			<ak-col k-title="Booking<br>Date" k-width="100px" k-locked.bind="false" k-lockable.bind="false" k-field="bookingDate" k-filterable.bind="false" k-format="{0:MM/dd/yyyy}">
			</ak-col>
			<ak-col k-title="Booking#" k-width="100px" k-field="bookingNo"></ak-col>
			<ak-col k-title="Date<br>of Sentencing" k-width="100px" k-locked.bind="false" k-lockable.bind="false" k-field="sentencingDate"
			 k-filterable.bind="false" k-format="{0:MM/dd/yyyy}"></ak-col>
			<ak-col k-title="Srv Provided" k-width="120px" k-field="serviceProvided"></ak-col>

			<ak-col k-title="Inv Total" k-width="120px" k-locked.bind="false" k-lockable.bind="false" k-field="invoiceTotal" k-filterable.bind="true"
			 k-format="{0:c2}" k-attributes.bind='{ class: "text-right" }'></ak-col>

			<ak-col k-title="Repriced<br>Amt" k-width="120px" k-locked.bind="false" k-lockable.bind="false" k-field="repricedAmt" k-filterable.bind="true"
			 k-format="{0:c2}" k-attributes.bind='{ class: "text-right" }'></ak-col>


			<ak-col k-title="Savings" k-width="120px" k-locked.bind="false" k-lockable.bind="false" k-field="savings" k-filterable.bind="true"
			 k-format="{0:c2}" k-attributes.bind='{ class: "weekend" }'></ak-col>




			<ak-col k-title="Srv DateFrom" k-width="120px" k-locked.bind="false" k-lockable.bind="false" k-field="serviceDateFrom" k-filterable.bind="false"
			 k-format="{0:MM/dd/yyyy}"></ak-col>
			<ak-col k-title="Srv DateTo" k-width="120px" k-locked.bind="false" k-lockable.bind="false" k-field="serviceDateTo" k-filterable.bind="false"
			 k-format="{0:MM/dd/yyyy}"></ak-col>

			<ak-col k-title="Trans Method" k-width="180px" k-field="transportMethod"></ak-col>
			<ak-col k-title="Srv Reason" k-width="180px" k-field="serviceReason"></ak-col>
			<ak-col k-title="Inv Date" k-width="100px" k-locked.bind="false" k-lockable.bind="false" k-field="invDate" k-filterable.bind="false"
			 k-format="{0:MM/dd/yyyy}"></ak-col>



			<ak-col k-title="Payment<br>Status" k-width="110px" k-field="paymentStatus"></ak-col>
			<ak-col k-title="Approved<br>Date" k-width="100px" k-locked.bind="false" k-lockable.bind="false" k-field="approvedDate" k-filterable.bind="false"
			 k-format="{0:MM/dd/yyyy}"></ak-col>
			<ak-col k-title="paymentStatus" k-width="180px" k-field="paymentStatus"></ak-col>
			<ak-col k-title="deniedReason" k-width="180px" k-field="deniedReason"></ak-col>

		</ak-grid>