<template>
  	<style>
		.RLeft {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin: 0 0 1em 0;
			padding: 0;
			width: 70%;
		}
	</style>
	<div class="Rtable Rtable--2cols">
		<div class="Rtable-cell-30 Rtable-cell--highlight">
			<strong> Consigned From ${currentItem.ConsignedFromID} </strong>
		</div>
		<div class="Rtable-cell-70  Rtable-cell--light">
	

<!-- <input click.delegate="showModal('ConsignmentShippingID')" type="text"
 id="ConsignmentShippingID" class="form-control input-sm" value.bind="currentItem.consignmentshippingname"> -->

<div if.bind="currentItem.consignedfromname===undefined || currentItem.consignedfromname===''">
							<a click.delegate="showModal( 'ConsignedFromID')">select_link </a>
						</div>
						<div else>
							<a click.delegate="showModal('ConsignedFromID')">${currentItem.consignedfromname}</a>

						</div>

		</div>
		<div class="Rtable-cell-30 Rtable-cell--highlight">
			<strong> Time</strong>
		</div>
		<div class="Rtable-cell-70  Rtable-cell--highlight">
			<input type="text" id="UnframedHeight" class="form-control input-sm" value.bind="currentItem.ConsignmentTime">
		</div>

		<div class="Rtable-cell-30 Rtable-cell--highlight">
			<strong> Received</strong>
		</div>
		<div class="Rtable-cell-70  Rtable-cell--highlight">
			<input type="date" id="UnframedHeight" class="form-control input-sm" value.bind="currentItem.ConsignmentReceived">
		</div>

		<div class="Rtable-cell-30 Rtable-cell--highlight">
			<strong> From </strong>
		</div>
		<div class="Rtable-cell-70  Rtable-cell--highlight">
			<!-- <select id="OwnerID" class="form-control" value.bind='currentItem.ConsignedFromID'> 
                      <option model.bind="null">Choose...</option> 
                       <option repeat.for="opt of appService.orgsList" model.bind="opt._id">
                        ${opt.OrgName} 
                      </option> 
                    </select> -->
	<input click.delegate="showModal('ConsignedFromID')" type="text" id="ConsignedFromID" class="form-control input-sm" value.bind="currentItem.consignedfromname">


		</div>

		<!--  -->
		<div class="Rtable-cell-30  Rtable-cell--highlight">
			<strong> Start Date</strong>
		</div>
		<div class="Rtable-cell-70  Rtable-cell--highlight">
			<input type="date" id="UnframedHeight" class="form-control input-sm" value.bind="currentItem.ConsignedStartDate">
		</div>

		<div class="Rtable-cell-30 Rtable-cell--highlight">
			<strong> End Date</strong>
		</div>
		<div class="Rtable-cell-70  Rtable-cell--highlight">
			<input type="date" id="UnframedHeight" class="form-control input-sm" value.bind="currentItem.ConsignedEndDate">
		</div>
		<div class="Rtable-cell-30 Rtable-cell--highlight">
			<strong> Note</strong>
		</div>
		<div class="Rtable-cell-70  Rtable-cell--highlight">
			<input type="text" id="UnframedHeight" class="form-control input-sm" value.bind="currentItem.ConsignedNotes">
		</div>

		<div class="Rtable-cell-30 Rtable-cell--highlight">
			<strong> Signed</strong>
		</div>
		<div class="Rtable-cell-70  Rtable-cell--highlight">
			<input type="text" id="UnframedHeight" class="form-control input-sm" value.bind="currentItem.ConsigendSigned">
		</div>


		<div class="Rtable-cell-30 Rtable-cell--highlight">
			<strong> Net Price</strong>
		</div>
		<div class="Rtable-cell-70  Rtable-cell--highlight">
			<input type="text" id="UnframedHeight" class="form-control input-sm" value.bind="currentItem.ConsignedNetPrice">
		</div>


	</div>

</template>