<template>
	<div class="Rtable Rtable--2cols">

		<div class="Rtable-cell-30 Rtable-cell--highlight">
			<strong> Sold >> SoldToID Make Purchase From the same ></strong>
		</div>

		<div class="Rtable-cell-70  Rtable-cell--highlight">
			<input click.delegate="showModal('SoldToID')" type="text" id="SoldTo" class="form-control input-sm" value.bind="currentItem.soldtoname">
		</div>

		<div class="Rtable-cell-30 Rtable-cell--highlight">
			<strong> Date</strong>
		</div>
		<div class="Rtable-cell-70  Rtable-cell--highlight">
			<input type="date" id="SoldDate" class="form-control input-sm" value.bind="currentItem.SoldDate">
		</div>
		<div class="Rtable-cell-30 Rtable-cell--highlight">
			<strong> Price</strong>
		</div>
		<div class="Rtable-cell-70  Rtable-cell--highlight">
			<input type="text" id="SoldPrice" class="form-control input-sm" value.bind="currentItem.SoldPrice">
		</div>
		<div class="Rtable-cell-30 Rtable-cell--highlight">
			<strong> Payment Method</strong>
		</div>

		<div class="Rtable-cell-70  Rtable-cell--highlight">
			<select id="SoldPayment" class="form-control input-sm" value.bind="SoldPayment"> 
                      <option model.bind="null">Choose...</option> 
                     <option repeat.for="opt of appService.codesProvenanceLocation" model.bind="opt.id">
                           ${opt.Description} 
                      </option> 
                    </select>

			</td>

		</div>


		<div class="Rtable-cell-30 Rtable-cell--highlight">
			<strong> Note</strong>
		</div>

		<div class="Rtable-cell-70  Rtable-cell--highlight">
			<input type="text" id="SoldPaymentNo" class="form-control input-sm" value.bind="currentItem.SoldPaymentNo">
		</div>


	</div>
</template>