<template>
<style>
		table thead tr {
			display: block;
		}

		table th,
		table td {
			width: 80% //1200px;//fixed width
		}

		table tbody {
			display: block;
			height: 400px;
			overflow: auto; //set tbody to auto
		}
	
	</style>
	<section class="docs full-height flex-column-1 overflow-y-auto ignore">
		<h4>
			<i class="fa fa-folder-open"></i> Org Contacts 

		</h4>

		<table class="table-condensed table">
			<thead class="table-header-blue">
				<tr>

					<th width="200px" class="header">last name
							</th>
              	<th width="200px" class="header">first name
							</th>
							<th width="200px" class="header">phone 1 
							</th>
							<th width="200px" class="header">phone 2
							</th>
							
							<th width="200px" class="header">phone 3

							</th>

				</tr>
			</thead>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>

					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
			<tbody>
				<tr repeat.for="contact of contacts" with.bind="contact">

		
         <td width="200px"> 	<a click.delegate="opencontact($index)">select_link </a></td>
					<td width="200px"> <span>${LastName}</span></td>
					<td width="200px"> <span>${FirstName}</span></td>
				    <td width="200px">
							<span >${phones[0].phoneno}, ${phones[0].ext}</span>

							</td>
                <td width="200px">
							<span >${phones[1].phoneno}, ${phones[1].ext}</span>

							</td>
                <td width="200px">
							<span >${phones[2].phoneno}, ${phones[2].ext}</span>

							</td>



				</tr>
			</tbody>
		</table>


	</section>
</template>



<!-- <template>
	<style>
		.RLeft {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin: 0 0 1em 0;
			padding: 0;
			width: 70%;
		}
	</style>

	<div class="flex-row-none">
		<div class="RLeft">

			<div class="form-group flex-column-1 ">
				<div class="Rtable Rtable--2cols">

					<div class="Rtable-cell-30 Rtable-cell--highlight">
						<strong> OrgName</strong>
					</div>
					<div class="Rtable-cell-70  Rtable-cell--highlight">
						<input type="text" id="OrgName" class="form-control input-sm" value.bind="currentItem.org.OrgName">
					</div>
					<div class="Rtable-cell-30 Rtable-cell--highlight">
						<strong> Address</strong>
					</div>
					<div class="Rtable-cell-70  Rtable-cell--highlight">
		   	<textarea rows="6" cols="100" id="address" class="form-control input-sm" value.bind="currentItem.org.address"></textarea>

      		</div>
					<div class="Rtable-cell-30 Rtable-cell--highlight">
						<strong> City</strong>
					</div>
					<div class="Rtable-cell-70  Rtable-cell--highlight">
						<input type="text" id="City" class="form-control input-sm" value.bind="currentItem.org.city">
					</div>
					<div class="Rtable-cell-30 Rtable-cell--highlight">
						<strong> State</strong>
					</div>
					<div class="Rtable-cell-70  Rtable-cell--highlight">
						<input type="text" id="State" class="form-control input-sm" value.bind="currentItem.org.state">
					</div>
        	<div class="Rtable-cell-30 Rtable-cell--highlight">
						<strong> Zip</strong>
					</div>
					<div class="Rtable-cell-70  Rtable-cell--highlight">
						<input type="text" id="Zip" class="form-control input-sm" value.bind="currentItem.org.zip">
					</div>
        
         
        	<div class="Rtable-cell-30 Rtable-cell--highlight">
						<strong> Status</strong>
					</div>
					<div class="Rtable-cell-70  Rtable-cell--highlight">
						<input type="text" id="PurchasedDate" class="form-control input-sm" value.bind="currentItem.org.status">
					</div>
				</div>


			</div>
			<div class="form-group flex-column-1 margin-left-10">
				<div class="Rtable Rtable--2cols">
					

					

					<div class="Rtable-cell-30 Rtable-cell--highlight">
						<strong> Notes</strong>
					</div>s
					<div class="Rtable-cell-70  Rtable-cell--highlight">
						<input type="text" id="notes" class="form-control input-sm" value.bind="currentItem.org.notes">
					</div>

				</div>

			</div>
		</div>
	</div>
</template> -->