<template>


	<require from="../../resources/value-converters/date-format"></require>
	<style>
		#data-form-ext .tab.tab-selected .form-tab-box {
			background-color: lightblue;
			border-color: #7bbbce
		}

		#cap {
			background-color: orange //transparent;
		}

		.black-cap {
			background-position: 0 0;
		}

		.grey-cap {
			background-position: 0 -225px;
		}

		.orange-cap {
			background-position: 0 -450px;
		} // input type
		.custom-file-input::-webkit-file-upload-button {
			visibility: hidden;
		}

		.custom-file-input::before {
			content: 'Select aimage file and upload';
			display: inline-block;
			background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
			border: 1px solid #999;
			border-radius: 3px;
			padding: 5px 8px;
			outline: none;
			white-space: nowrap;
			-webkit-user-select: none;
			cursor: pointer;
			text-shadow: 1px 1px #fff;
			font-weight: 700;
			font-size: 10pt;
		}

		.custom-file-input:hover::before {
			border-color: black;
		}

		.custom-file-input:active::before {
			background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
		}
	</style>

	<section class="full-height flex-column-1 au-animate ignore">
		<div class="flex-column-1 overflow-y-auto">

			<form class="flex-column-1">
				<!-- <div id="top" class="flex-row-3"> -->
				<div id="top" class="flex-row-none">
					<div id="top-left" class="data-form overflow-y-auto flex-column-2">
						<!-- row1 -->
						<div class="flex-row-none">
							<!-- <div class="form-group flex-column-1"> -->
							<div class="form-group flex-column-1 Rtable-cell--highlight">

								<div class="Rtable Rtable--2cols">
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong>First Name</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="FirstName" class="form-control input-sm" value.bind="currentItem.FirstName ">

									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong>Last Name</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type=" text " id="LastName" class=" form-control input-sm " value.bind="currentItem.LastName">
									</div>


									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Salutation </strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">

										<select id="phonetype" class="form-control  input-sm" value.bind="currentItem.Salutation"> 
                      <option model.bind="null">Choose...</option> 
                         <option repeat.for="opt of appService.codesSalutation " model.bind="opt.Description"> 
                           <!-- //id"> -->
                    ${opt.Description} 
                      </option> 
                    </select>
									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Suffix</strong>
									</div>

									<div class="Rtable-cell-70  Rtable-cell--highlight">

										<select id="phonetype" class="form-control  input-sm" value.bind="currentItem.Suffix"> 
                      <option model.bind="null">Choose...</option> 
                         <option repeat.for="opt of appService.codesSuffix " model.bind="opt.Description">
                    ${opt.Description} 
                      </option> 
                    </select>
									</div>


									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> First Name 2</strong>
									</div>

									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text " xid="FirstName2" class="form-control input-sm " value.bind="currentItem.FirstName2">
									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Last Name 2</strong>
									</div>

									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" xid="LastName2" class="form-control input-sm " value.bind="currentItem.LastName2">
									</div>







									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Salutation 2</strong>
									</div>

									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<!-- <input type="text " xid="Salutation " class="form-control input-sm " value.bind="currentItem.Salutation"> -->


										<select id="phonetype" class="form-control  input-sm" value.bind="currentItem.Salutation2"> 
                      <option model.bind="null">Choose...</option> 
                         <option repeat.for="opt of appService.codesSalutation " model.bind="opt.Description"> 
                           <!-- //id"> -->
                    ${opt.Description} 
                      </option> 
                    </select>
									</div>


									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Suffix 2</strong>
									</div>

									<div class="Rtable-cell-70  Rtable-cell--highlight">

										<select id="phonetype" class="form-control  input-sm" value.bind="currentItem.Suffix2"> 
                      <option model.bind="null">Choose...</option> 
                         <option repeat.for="opt of appService.codesSuffix " model.bind="opt.Description">
                    ${opt.Description} 
                      </option> 
                    </select>
									</div>


									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong>Spouse</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type=" text " id="Spouse" class=" form-control input-sm " value.bind="currentItem.Spouse">
									</div>



								</div>
							</div>
							<!-- end <div class="Rtable Rtable--7cols"> -->

							<!-- demo middle col -->
							<div class="form-group flex-column-1 margin-left-10">
								<div class="Rtable Rtable--2cols">

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong>Type</strong>
										<!-- //Contact Type  -->
									</div>
									<div class="Rtable-cell-70 Rtable-cell--highlight">
										<ak-multiselect k-value.two-way="currentItem.contacttypes" k-placeholder="Select contacttypes..." k-data-text-field="Description"
										 k-data-value-field="Description" k-height.bind="400" k-data-source.bind="appService.codesOrgContactTypes" k-widget.two-way="multiselect"
										 id="multiselect-customizing-templates-codes">
											<ak-template for="noDataTemplate">
												<div>
													<button ak-button click.delegate="addNew()">addNew</button>
												</div>
											</ak-template>
										</ak-multiselect>
									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Title </strong>
									</div>

									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text " xid="TitleDesc " class="form-control input-sm " value.bind="currentItem.TitleDesc">
									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Assistant</strong>
									</div>

									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text " xid="Assistant " class="form-control input-sm " value.bind="currentItem.Assistant">
									</div>

 
									<div class="Rtable-cell-30 Rtable-cell--highlight">
 

										<a href="http://${currentItem.Website}" target="_blank" class="btn btn-sm btn-primary"> <strong>Open Website</strong></a>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text " xid="Website " class="form-control input-sm " value.bind="currentItem.Website">
									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<div if.bind="currentItem.BusIndivid==='I'">

											<button class="btn btn-sm btn-primary" click.delegate="modal(org)">View Org</button>
											<button class="btn btn-sm btn-primary" click.delegate="editorg(org)">Edit Org</button>
										</div>
										<div else>
											<strong> Parent OrgID:${currentItem.OrgID}</strong>
										</div>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
                    <!-- <div if.bind="currentItem.BusIndivid==='B'"> -->
										<!-- <div if.bind="currentItem.BusIndivid==='I'"> -->
											<div style="height:15px;margin-left:10px;margin-top:5px;margin-bottom:10px" if.bind="currentItem.org.OrgName===undefined || currentItem.org.OrgName==='' || currentItem.org===null ">
												<a click.delegate="showModal( 'OrgID')">select_link </a>
											</div>
											<div style="height:15px;margin-left:10px;margin-top:5px;margin-bottom:10px" else>
												<a click.delegate="showModal( 'OrgID')">${currentItem.org.OrgName} </a>
											</div>
										<!-- </div>
										<div else>
											${currentItem.ParentName} / id: ${currentItem.ID} - ${currentItem.ParentID}
										</div> -->
									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Dept</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text " xid="Dept " class="form-control input-sm " value.bind="currentItem.Dept">
									</div>


									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Bus/Individ</strong>
									</div>

									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text " xid="BusIndivid " class="form-control input-sm " value.bind="currentItem.BusIndivid">
									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Contact ID (${currentItem.ID})</strong>
									</div>

									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text " xid="ContactID " class="form-control input-sm " value.bind="currentItem.id">
									</div>

							

	<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> 	Date Added</strong>
									</div>
	<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="date " xid="createdAt " class="form-control input-sm " value.bind="currentItem.createdAt |dateFormat">
									</div>


									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> nolongerherecatalogssent</strong>
									</div>
									<div class="Rtable-cell-70 Rtable-cell--highlight">
										<input type="checkbox" id="deceased" checked.bind="currentItem.nolongerherecatalogssent">
									</div>








								</div>

							</div>
							<!-- 2nd -->
							<!-- 3rd col -->
							<div class="form-group flex-column-1 margin-left-10">
								<div class="Rtable Rtable--2cols">

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Mailing Status</strong>
									</div>
									<div class="Rtable-cell-70 Rtable-cell--highlight">
										<label repeat.for="ml of mailingstatus">
                     	<input type="radio" name="group1" model.bind="ml.id" checked.bind="currentItem.mailingStatus"> ${ml.name} &nbsp;
										  </label>
									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> International</strong>
									</div>
									<div class="Rtable-cell-70 Rtable-cell--highlight">
										<input type="checkbox" id="international" checked.bind="currentItem.international">
									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Holiday List</strong>
									</div>


									<div class="Rtable-cell-70 Rtable-cell--highlight">
										<input type="checkbox" id="ynHolidaylist" checked.bind="currentItem.ynHolidaylist">
									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Deceased</strong>
									</div>
									<div class="Rtable-cell-70 Rtable-cell--highlight">
										<input type="checkbox" id="deceased" checked.bind="currentItem.deceased">
									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Note</strong>
									</div>
									<div class="Rtable-cell-70 Rtable-cell--highlight">
										<textarea rows="6" cols="100" id="Notes" class="form-control input-sm" value.bind="currentItem.Notes"></textarea>
									</div>


									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Mailchimp</strong>
									</div>
									<div class="Rtable-cell-70 Rtable-cell--highlight">
										<input type="checkbox" id="ynMasterlist" checked.bind="currentItem.email">


									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Masterlist</strong>
									</div>
									<div class="Rtable-cell-70 Rtable-cell--highlight">
										<input type="checkbox" id="ynMasterlist" checked.bind="currentItem.ynMasterlist">


									</div>







									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Address Label</strong>
									</div>
									<div class="Rtable-cell-70 Rtable-cell--highlight">
										<textarea rows="3" cols="100" id="Notes" class="form-control input-sm" value.bind="fullName"></textarea>
									</div>



								</div>
							</div>
							<!-- 3rd col end -->


						</div>

					</div>
				</div>

				<!-- flex row none -->
				<!-- </div> -->

				<div if.bind="recordId==='create'">Create Mode. Please save record before entering tabs </div>
				<div else>

					<!-- <div id="bottom-left" class="flex-row-3"> -->
					<div id="data-form-ext" class="flex-column-1">
						<div id="data-form-ext" class="flex-column-1">
							<div id="dataFormOneToManyTabs3" class="flex-row-none flex-wrap">
								<div repeat.for="tab of appService.dataFormOneToManyTabs3" class="tab ${tab.isSelected ? 'tab-selected' : ''}">
									<div class="form-tab-box" click.delegate="selectOneToManyTab(tab)">
										<span>${tab.name}</span>
									</div>
								</div>
							</div>
							<div id="data-form-one-to-many-tab-content overflow-y-hidden" class="data-form flex-row-1" style="background:
										 darkgray;">
								<compose view-model.bind="currentOneToManyTab.viewModel"></compose>
							</div>
						</div>
					</div>
				</div>


			</form>
		</div>
		<!-- </div> -->
		<footerform class="flex-row-none">

			<span>&nbsp;&nbsp;
					<button class="btn btn-sm btn-primary " click.delegate="savecontact(0)">
						Save & Stay
					</button>
					<!-- <button class="btn btn-sm btn-info " click.delegate="savecontact(1)">
						Save & Close
					</button> -->
&nbsp;&nbsp;



				</span>


			<span>&nbsp;&nbsp;
					<button class="btn btn-sm btn-danger " click.delegate="requestclose()">
						Close
					</button>
          <b>  ${message} </b>
				</span>


		</footerform>
	</section>
</template>