<template>
	<!-- <require from="../../value-converters/filter-by-code"></require> 
  https://codepen.io/johntom/pen/ypZVaM  this.currentItem.ownername this.currentItem.soldtoname
  -->
	<!-- <require from="aurelia-kendoui-bridge/multiselect/multiselect"></require>
	<require from="aurelia-kendoui-bridge/button/button"></require> -->
	<!-- <require from="./modal-form"></require> -->
	<!-- <require from="./flex.css"></require> -->
	<style>
		img.responsive-img,
		video.responsive-video {
			max-width: 100%;
			height: auto;
		}
	</style>

	<section class="full-height flex-column-1 au-animate ignore">
		<div class="flex-column-1 overflow-y-auto">


			<div id="top" class="flex-row-3">
				<div id="top-left" class="data-form overflow-y-auto flex-column-2">
					<!-- row1 -->
					<div class="flex-row-none">
						<!-- <ul>
							<li repeat.for="savedlist of appService.savedlists">
								<a href="#/savedlists/${contact.id}" click.delegate="$parent.select(contact)">
									<h4>${savedlist.name} </h4>
									<p>${contact.email}</p>
								</a>
							</li>
						</ul> -->

<ul>
							<li repeat.for="savedlist of appService.savedlists">
								<a href="#/savedlists/${contact.id}" click.delegate="$parent.select(contact)">
									<h4>${savedlist.name} </h4>
									<p>${contact.email}</p>
								</a>
							</li>
						</ul>



					</div>
				</div>

				<!-- end <div class="Rtable Rtable--7cols"> -->

				<!-- demo middle col -->
				<div class="form-group flex-column-1 margin-left-10">

					<p>col2</p>

				</div>

			</div>
			<!-- flex row none -->


		</div>

	</section>
</template>


<!-- <template>
  	<require from="./styles.css"></require>
  <div class="contact-list">
    <ul class="list-group">
      <li repeat.for="savedlist of appService.savedlists" class="list-group-item ${contact.id === $parent.selectedId ? 'active' : ''}">
        <a href="#/savedlists/${contact.id}" click.delegate="$parent.select(contact)">
          <h4 class="list-group-item-heading">${savedlist.name} </h4>
          <p class="list-group-item-text">${contact.email}</p>
        </a>
      </li>
    </ul>
  </div>

</template> -->