<template>
	<!-- <require from="../../value-converters/filter-by-code"></require> 
  https://codepen.io/johntom/pen/ypZVaM  this.currentItem.ownername this.currentItem.soldtoname
  -->
	<require from="aurelia-kendoui-bridge/multiselect/multiselect"></require>
	<require from="aurelia-kendoui-bridge/button/button"></require>
	<require from="./modal-form"></require>
	<require from="./flex.css"></require>
	<style>
		img.responsive-img {
			max-height: 300px;
			width: auto;
		}

		video.responsive-video {
			max-width: 100%;
			height: auto;
		}

		/* #data-form-ext .tab.tab-selected {
   background-color: orange
 } */

		#data-form-ext .tab.tab-selected .form-tab-box {

			background-color: lightblue;
			border-color: #7bbbce
		}


		#cap {
			// width: 242px;
			//height: 225px;
			//margin: 20px auto;
			//  background-image: url('http://demos.telerik.com/kendo-ui/content/web/dropdownlist/cap.png');
			//  background-repeat: no-repeat;
			background-color: orange //transparent;
		}

		.black-cap {
			background-position: 0 0;
		}

		.grey-cap {
			background-position: 0 -225px;
		}

		.orange-cap {
			background-position: 0 -450px;
		}
	</style>
	<div class="modal fade" id="myModal" ref="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
					<p>One fine body…</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	<!-- /.modal form-->
	<modal-form ref="edit_division" record_id.bind="division.div_id" title="${division.div_id ? 'Edit_Division' : 'New_Division'}"
	 error.bind="error">
		<form>
			<div class="form-group">
				<label class="control-label" for="div_code">Division code2</label>
				<input type="text" class="form-control" ref="div_code" value.bind="division.div_code" />
			</div>
			<div class="form-group">
				<label class="control-label" for="div_name">Division name2</label>
				<input type="text" class="form-control" value.bind="division.div_name">
			</div>
			<div class="form-group">
				<label class="control-label" for="div_principal_p_id">Principal name2</label>
				<input type="text" class="form-control" value.bind="division.div_principal_name">
			</div>
		</form>
	</modal-form>
	<!-- /.modal form-->
	<section class="full-height flex-column-1 au-animate ignore">
		<div class="flex-column-1 overflow-y-auto">

			<form class="flex-column-1">
				<!-- <div id="top" class="flex-row-3"> -->
				<div id="top" class="flex-row-none">
					<div id="top-left" class="data-form overflow-y-auto flex-column-2">
						<!-- row1 -->
						<div class="flex-row-none">
							<div class="form-group flex-column-1">
								<div class="Rtable Rtable--2cols">
									<div class="Rtable Rtable--4cols">
										<div class="Rtable-cell Rtable-cell--highlight">
											<strong> Inv Code</strong>
										</div>
										<div class="Rtable-cell Rtable-cell--highlight">
											<div if.bind="recordId === 'create'">
												<input type="text" id="InventoryCode" class="form-control input-sm" value.bind="appService.currentItem.InventoryCode">

											</div>
											<div if.bind="recordId !== 'create'" style="width:280px">
												${appService.currentItem.InventoryCode}

											</div>
											<!-- <input type="text" id="InventoryCode" class="form-control input-sm" value.bind="appService.currentItem.InventoryCode"> -->
											<!-- & validate -->
											<!-- <div if.bind="recordId === 'create'">
												<input type="text" id="InventoryCode" class="form-control input-sm" value.bind="appService.currentItem.InventoryCode">

											</div>
											<div else>${appService.currentItem.InventoryCode}</div> -->


										</div>
										<div class=" Rtable-cell Rtable-cell--highlight ">
											<strong> InvYear</strong>
										</div>
										<div class=" Rtable-cell Rtable-cell--highlight ">
											<!-- <input type=" text " id="InvYear" class=" form-control input-sm " value.bind=" currentItem.InvYear & validate"> -->
											<input type=" text " id="InvYear" class=" form-control input-sm " value.bind="appService.currentItem.InvYear">
										</div>
									</div>






									<div class=" Rtable-cell-30 Rtable-cell--highlight">

										<div if.bind="recordId === 'create'"><strong> Artist >></strong></div>
										<div else><strong> Artist </strong></div>
									</div>

									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<div if.bind="recordId === 'create'">
											<span dblclick.delegate="showModal('Artist')"> <strong> ${currentItem.artist.lastName},
												${currentItem.artist.firstName}
												<span show.bind="currentItem.artist.died===''"> (b.${currentItem.artist.yearofBirth}) </span>
											<span show.bind="currentItem.artist.died!==''"> (${currentItem.artist.yearofBirth} -
													${currentItem.artist.died})</span>
											</strong>
											</span>
										</div>
										<div else> <span dblclick.delegate="showModal('Artist')"> <strong> ${appService.currentItem.artist.lastName},
										
										<!-- <div else> <span> <strong> ${currentItem.artist.lastName}, -->
												${appService.currentItem.artist.firstName}
												<span show.bind="appService.currentItem.artist.died===''"> (b.${appService.currentItem.artist.yearofBirth}) </span>
											<span show.bind="appService.currentItem.artist.died!==''"> (${appService.currentItem.artist.yearofBirth} -
													${appService.currentItem.artist.died})</span> </strong>
											</span>
										</div>
									</div>


									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Title</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">

										<input type="text" xid="Title" class="form-control input-sm" value.bind="appService.currentItem.Title">
										<!--  & validate -->
									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> MediumSupport >></strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<!-- <select ref="MediumSupport11" id="MediumSupport11" class="form-control input-sm" value.bind="appService.currentItem.MediumSupportobj"> 
                      <!-- & validate -->
										<!-- <option model.bind=" null ">Choose...</option>
											<option ref="MediumSupport21 " repeat.for="opt of appService.codesListMediumSupport " model.bind="opt ">
												${opt.Description}
											</option>
										</select>  -->
										<input dblclick.delegate="showModal( 'MediumSupportobj') " type="text " xid="MediumSupportobj " class="form-control input-sm "
										 value.bind="appService.currentItem.MediumSupportobj.Description ">
									</div>
									<div class="Rtable Rtable--4cols ">
										<div class="Rtable-cell Rtable-cell--highlight ">
											<strong> CatalogueNo</strong>
										</div>

										<div class="Rtable-cell Rtable-cell--highlight ">
											<input type="text " xid="CatalogueNo " class="form-control input-sm " value.bind="appService.currentItem.CatalogueNo ">
										</div>

										<div class="Rtable-cell Rtable-cell--highlight ">
											<strong> AltID </strong>
										</div>
										<div class="Rtable-cell Rtable-cell--highlight ">
											<input type="text " xid="AltID " class="form-control input-sm " value.bind="appService.currentItem.AltID ">
										</div>
									</div>





									<div class="Rtable Rtable--7cols ">
										<div class="Rtable-cell Rtable-cell--alert ">Dimens</div>
										<div class="Rtable-cell Rtable-cell--highlight ">Height</div>
										<div class="Rtable-cell Rtable-cell--highlight ">x/16</div>
										<div class="Rtable-cell Rtable-cell--highlight ">Depth</div>
										<div class="Rtable-cell Rtable-cell--highlight ">x/16</div>
										<div class="Rtable-cell Rtable-cell--highlight ">Width</div>
										<div class="Rtable-cell Rtable-cell--highlight ">x/16</div>
										<div class="Rtable-cell Rtable-cell--highlight ">
											<strong>Size</strong>
										</div>
										<div class="Rtable-cell ">
											<input type="text " xid="UnframedHeight " class="form-control input-sm " value.bind="appService.currentItem.UnframedHeight ">
										</div>
										<div class="Rtable-cell ">
											<select style="width: 65px " value.bind="appService.currentItem.UnframedHeight16 ">
												<option model.bind="null ">Choose...</option>
												<option repeat.for="measure of measures " model.bind="measure.id ">
													${measure.name}
												</option>
											</select>
										</div>
										<div class="Rtable-cell ">
											<input type="text " xid="UnframedWidth " class="form-control input-sm " value.bind="appService.currentItem.UnframedWidth ">
										</div>
										<div class="Rtable-cell ">
											<select style="width: 65px " value.bind="appService.currentItem.UnframedWidth16 ">
												<option model.bind="null ">Choose...</option>
												<option repeat.for="measure of measures " model.bind="measure.id ">
													${measure.name}
												</option>
											</select>
										</div>
										<div class="Rtable-cell ">
											<input type="text " xid="UnframedDepth " class="form-control input-sm " value.bind="appService.currentItem.UnframedDepth ">
										</div>
										<div class="Rtable-cell ">
											<select style="width: 65px " value.bind="appService.currentItem.UnframedDepth16 ">
												<option model.bind="null ">Choose...</option>
												<option repeat.for="measure of measures " model.bind="measure.id ">
													${measure.name}
												</option>
											</select>
										</div>
										<!-- end unframed -->


										<!-- framed -->
										<div class="Rtable-cell Rtable-cell--highlight ">
											<strong>framed</strong>
										</div>
										<div class="Rtable-cell ">
											<input type="number " xid="framedHeight " class="form-control input-sm " value.bind="appService.currentItem.framedHeight ">

										</div>
										<div class="Rtable-cell ">

											<select style="width: 65px " value.bind="appService.currentItem.framedHeight16 ">
												<option model.bind="null ">Choose...</option>
												<option repeat.for="measure of measures " model.bind="measure.id ">
													${measure.name}
												</option>
											</select>
										</div>
										<div class="Rtable-cell ">
											<input type="number " xid="framedWidth " class="form-control input-sm " value.bind="appService.currentItem.framedWidth ">

										</div>
										<div class="Rtable-cell ">

											<select style="width: 65px " value.bind="appService.currentItem.framedWidth16 ">
												<option model.bind="null ">Choose...</option>
												<option repeat.for="measure of measures " model.bind="measure.id ">
													${measure.name}
												</option>
											</select>
										</div>
										<div class="Rtable-cell ">
											<input type="number " xid="framedDepth " class="form-control input-sm " value.bind="appService.currentItem.framedDepth ">

										</div>
										<div class="Rtable-cell ">

											<select style="width: 65px " value.bind="appService.currentItem.framedDepth16 ">
												<option model.bind="null ">Choose...</option>
												<option repeat.for="measure of measures " model.bind="measure.id ">
													${measure.name}
												</option>
											</select>
										</div>
										<!-- end framed -->

										<!--image  -->
										<div class="Rtable-cell Rtable-cell--highlight ">
											<strong>image</strong>
										</div>
										<div class="Rtable-cell ">
											<input type="number " xid="imageHeight " class="form-control input-sm " value.bind="appService.currentItem.imageHeight ">

										</div>
										<div class="Rtable-cell ">

											<select style="width: 65px " value.bind="appService.currentItem.imageHeight16 ">
												<option model.bind="null ">Choose...</option>
												<option repeat.for="measure of measures " model.bind="measure.id ">
													${measure.name}
												</option>
											</select>
										</div>
										<div class="Rtable-cell ">
											<input type="number " xid="imageWidth " class="form-control input-sm " value.bind="appService.currentItem.imageWidth ">

										</div>
										<div class="Rtable-cell ">

											<select style="width: 65px " value.bind="appService.currentItem.imageWidth16 ">
												<option model.bind="null ">Choose...</option>
												<option repeat.for="measure of measures " model.bind="measure.id ">
													${measure.name}
												</option>
											</select>
										</div>
										<div class="Rtable-cell ">
											<input type="number " xid="imageDepth " class="form-control input-sm " value.bind="appService.currentItem.imageDepth ">

										</div>
										<div class="Rtable-cell ">

											<select style="width: 65px " value.bind="appService.currentItem.imageDepth16 ">
												<option model.bind="null ">Choose...</option>
												<option repeat.for="measure of measures " model.bind="measure.id ">
													${measure.name}
												</option>
											</select>
										</div>
										<!-- end image -->


									</div>



								</div>
							</div>
							<!-- end <div class="Rtable Rtable--7cols "> -->

							<!-- demo middle col -->
							<div class="form-group flex-column-1 margin-left-10 ">
								<div class="Rtable Rtable--2cols ">




									<div class="Rtable-cell-30 Rtable-cell--highlight ">
										<strong> Keywords </strong>
										<!-- <button ak-button click.delegate="showKeywords() ">Show keywords</button> -->

										<button class="btn btn-success" click.trigger="addKeyword()">Add Keyword</button>
										<input xid="keyword" type="text" class="form-control" placeholder="enter keyword" value.bind="appService.currentItem.addkeyword">
									</div>
									<!-- ak-multiselect.ref="myMultiSelect" k-data-source.bind="allFunctions" -->
									<div class="Rtable-cell-70 Rtable-cell--highlight ">

										<ak-multiselect ak-multiselect.ref='multiselect' k-widget.two-way="multiselect" k-value.two-way="appService.currentItem.keywords">
											<select multiple="multiple " data-placeholder="Select keywords... ">
												<option repeat.for="opt of appService.codesGenre" model.bind="opt.Description ">
													${opt.Description}
												</option>
											</select>
										</ak-multiselect>

									</div>

									<!-- <div class="Rtable-cell-30 Rtable-cell--highlight ">
										<strong> Keywords </strong>
									
										<button class="btn btn-success" click.trigger="addKeyword()">Add Keyword</button>
										<input xid="keyword" type="text" class="form-control" placeholder="enter keyword" 
                    value.bind="appService.currentItem.addkeyword">
									</div>
										<div class="Rtable-cell-70 Rtable-cell--highlight ">

										<ak-multiselect k-placeholder="Select keywords..." 
                    k-data-text-field="Description" k-data-value-field="id" k-auto-bind.bind="false"
										 k-data-source.bind="dataSource" k-value.bind="appService.currentItem.keywords"></ak-multiselect>
									</div> -->

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Signed?</strong>
										<input type="checkbox" id="Signed" checked.bind="appService.currentItem.Signed">
									</div>

									<div class="Rtable-cell-70 Rtable-cell--highlight">
										<strong> Dated?</strong>
										<input type="checkbox" id="Dated" checked.bind="appService.currentItem.Dated">
									</div>


									<div class="Rtable-cell-30 Rtable-cell--highlight ">
										<strong> Edition</strong>
									</div>
									<div class="Rtable-cell-70 Rtable-cell--highlight ">
										<input type="text " xid="Edition " class="form-control input-sm " value.bind="appService.currentItem.Edition ">
									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight ">
										<strong> Edition Note</strong>
									</div>
									<div class="Rtable-cell-70 Rtable-cell--highlight ">
										<input type="text " xid="EditionComment " class="form-control input-sm " value.bind="appService.currentItem.EditionComment ">
									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight ">
										<strong> Condition</strong>
									</div>
									<div class="Rtable-cell-70 Rtable-cell--highlight ">
										<input type="text " xid="Condition " class="form-control input-sm " value.bind="appService.currentItem.Condition ">
									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight ">
										<strong> Inscribed>></strong>
									</div>
									<div class="Rtable-cell-70 Rtable-cell--highlight ">
										<input dblclick.delegate="showModal( 'Inscribed') " type="text " xid="Inscribed " class="form-control input-sm " value.bind="appService.currentItem.Inscribed ">

									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight ">
										<strong>Added/modified</strong>
									</div>
									<div class="Rtable-cell-70 Rtable-cell--highlight ">
										${appService.currentItem.DateAdded} / ${appService.currentItem.ModifiedDate}
									</div>

								</div>
							</div>
							<!-- xid no form store id hs prev vals -->
							<div class="form-group flex-column-1 margin-left-10 ">
								<div class="Rtable Rtable--2cols ">
									<div class="Rtable-cell-30 Rtable-cell--highlight ">
										<strong> Sold </strong>
									</div>
									<div class="Rtable-cell-70 Rtable-cell--highlight ">
										<div class="form-group "> ${search.selectedSoldId}
											<label repeat.for="sold of searchsold ">
												<input type="radio" name="group1" model.bind="sold.id " checked.bind="search.selectedSoldId ">
												${sold.name} &nbsp;
											</label>
										</div>
									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight ">
										<strong> SoldTo >></strong>
									</div>
									<div class="Rtable-cell-70 Rtable-cell--highlight ">
										<input dblclick.delegate="showModal( 'SoldToID') " type="text " xid="SoldToID " class="form-control input-sm " value.bind="appService.currentItem.soldtoname ">

									</div>



									<div class="Rtable-cell-30 Rtable-cell--highlight ">
										<strong> OwnedStatus</strong>
									</div>
									<div class="Rtable-cell-70 Rtable-cell--highlight ">
										<select id="OwnedBy " class="form-control " value.bind="appService.currentItem.OwnedBy ">
											<option model.bind="null ">Choose...</option>
											<option repeat.for="opt of appService.codesOwnership " model.bind="opt.id ">
												${opt.Description}
											</option>
										</select>
									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight ">
										<strong> Owner >> </strong>
									</div>
									<div class="Rtable-cell-70 Rtable-cell--highlight ">
										<input dblclick.delegate="showModal( 'OwnerID') " type="text " xid="OwnerID " class="form-control input-sm " value.bind="appService.currentItem.ownername ">

									</div>


									<div class="Rtable-cell-30 Rtable-cell--highlight ">
										<strong> RetailPrice</strong>
									</div>
									<div class="Rtable-cell-70 Rtable-cell--highlight ">
										<input type="text " xid="ArtValue " class="form-control input-sm " value.bind="appService.currentItem.ArtValue ">
									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight ">
										<strong> CurrentLocation</strong>
									</div>
									<div class="Rtable-cell-70 Rtable-cell--highlight ">
										<select id="CurrentLocation " class="form-control input-sm " value.bind="appService.currentItem.CurrentLocation ">
											<option model.bind="null ">Choose...</option>
											<option repeat.for="opt of appService.codesListLocation " model.bind="opt.id ">
												${opt.Description}
											</option>
										</select>
									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight ">
										<strong> MRGLocation</strong>
									</div>
									<div class="Rtable-cell-70 Rtable-cell--highlight ">
										<select id="MRGLocation " class="form-control input-sm " value.bind="appService.currentItem.MRGLocation ">
											<option model.bind="null ">Choose...</option>
											<option repeat.for="opt of appService.codesListLocation " model.bind="opt.id ">
												${opt.Description}
											</option>
										</select>
									</div>


									<div class="Rtable-cell-30 Rtable-cell--highlight ">
										<strong> Bin</strong>
									</div>
									<div class="Rtable-cell-70 Rtable-cell--highlight ">
										<input type="text " id="Bin " class="form-control input-sm " value.bind="appService.currentItem.Bin ">
									</div>






								</div>
								<!-- 2nd -->
							</div>
						</div>

						<!-- flex row none -->
					</div>
					<!--top left  -->



					<div id="top-right " class="flex-column-none data-form-image ">
						<img class="responsive-img " src="https://artbased.com/api/v1/getonePdf/inv/${appService.currentItem.InventoryCode}.jpg "
						 click.delegate="showModalImg() ">

					</div>
					<!-- end middle and top right -->


				</div>
				<!--  class="tab tab-top ${tab.isSelected ? 'tab-selected' : ''} "> -->

				<div if.bind="recordId==='create' ">Create Mode. Please save record before entering tabs </div>
				<div else>

					<div id="bottom-left" class="flex-row-3">
						<div id="data-form-ext" class="flex-column-1">
							<div id="data-form-one-to-many-tabs" class="flex-row-none flex-wrap">
								<div repeat.for="tab of appService.dataFormOneToManyTabs" class="tab ${tab.isSelected ? 'tab-selected' : ''} ">
									<div class="form-tab-box" click.delegate="selectOneToManyTab(tab) ">
										<span>${tab.name}</span>
									</div>
								</div>
							</div>
							<div id="data-form-one-to-many-tab-content overflow-y-hidden" class="data-form flex-row-1" style="background:
										 darkgray; ">
								<compose view-model.bind="currentOneToManyTab.viewModel"></compose>
							</div>
						</div>
					</div>
				</div>
				<!-- <ul>
						<li repeat.for='e of controller.errors'>
							${e.message}
						</li>
					</ul> -->
				<!-- </form> -->
				<!-- after or before the form -->
			</form>
		</div>
		<footerform class="flex-row-none ">
			inventory-
			<span>&nbsp;&nbsp;
					<button class="btn btn-sm btn-danger " click.delegate="saveinventory(0) ">
						Save & Stay
					</button>
					<button class="btn btn-sm btn-danger " click.delegate="saveinventory(1) ">
						Save & Close
					</button>
				</span>
			<button class="btn btn-sm btn-danger " click.delegate="factsheet() ">
					FactSheet
				</button>
			</span>
			<span>&nbsp;&nbsp;
					<button class="btn btn-sm btn-danger " click.delegate="requestclose() ">
						Close
					</button>
          <b>  ${message} </b>
				</span>
		</footerform>
	</section>
</template>