<template>
  <ux-dialog>
    <!-- <ux-dialog-header>${question}</ux-dialog-header> -->
<ux-dialog-header>  <button click.trigger="controller.cancel()">Close</button></ux-dialog-header>

    <ux-dialog-body>
    		<!-- <img class="responsive-img" src="https://artbased.com/api/v1/getonePdf/inv/${currentItem.InventoryCode}.jpg " click.delegate="showModalImg()"> -->
		<!-- <img src="https://artbased.com/api/v1/getonePdf/inv/${currentItem.InventoryCode}.jpg " click.delegate="showModalImg()">
<img width="500px" src="https://artbased.com/api/v1/getonePdf/inv/${currentItem.InventoryCode}.jpg " click.delegate="showModalImg()"> -->
<!-- width=${iwidth} -->
<img  width="600" src="https://artbased.com/api/v1/getonepdf/inv/${currentItem.InventoryCode}.jpg " click.delegate="showModalImg()">

    </ux-dialog-body>

    <ux-dialog-footer>
    
      <!-- <button click.trigger="controller.ok(answer)">Ok</button> -->
    </ux-dialog-footer>
  </ux-dialog>
</template>