<template>
 	<ux-dialog style="height:500px;top:125px">
		<ux-dialog-header> 
  	<h2>${currentItem.Title}
      <button class="btn btn-sm btn-default" click.trigger="controller.cancel()">Close</button></h2>
      </ux-dialog-header>
		<ux-dialog-body>
			<img width="500" height="auto" src="https://artbased.com/api/v1/getimagedetail/inv/${currentItem.InventoryCode}/${FILE_NAME}">

		</ux-dialog-body>

		<ux-dialog-footer>
    <button click.trigger="controller.cancel()">Close</button>
		</ux-dialog-footer>
	</ux-dialog>
</template>