<template>
	<require from="aurelia-kendoui-bridge/multiselect/multiselect"></require>
	<require from="aurelia-kendoui-bridge/button/button"></require>

	<require from="../../resources/elements/select2/custom-select"></require>
	<require from="../../resources/elements/select2/select2-multiselect"></require>
	<require from="../../resources/elements/multi-selector/multi-selector"></require>

	<!-- <require from="../../resources/value-converters/stringify"></require> -->
	<!-- <require from="selectize-multiselect"></require> -->

	<section class="full-height flex-column-1 au-animate ignore">
		<div class="flex-row-none section-header">
			${heading}
		</div>
		<!-- searchInvCode -->
		<div class="flex-row-1 ignore">
			<div class="flex-column-1 search-panel">
				<form submit.delegate="performSearch()">
					<div class="flex-row-none">
						<div class="form-group flex-column-1">
							<input id="searchInput" type="text" class="form-control" placeholder="Search for title..." value.bind="search.title">
						</div>
						<div class="form-group flex-column-1 margin-left-10">
							<input id="searchInvCode" type="text" class="form-control" placeholder="Search for inv code...PORTERC008" value.bind="search.inventorycode">
						</div>

						<!-- <div class="form-group flex-column-1 margin-left-10">
							<label for="adjuster">mru2</label>
								<input ref="myDatalist" type="text" list="myDatalist" change.delegate="changeCallbackMru(selectedValue)" input.delegate="selectedValue = findOption($event.target.value)"
							/>
							<datalist id="myDatalist">
									<option repeat.for="option of mru">${option}</option>
							</sold>
							<pre style="margin-top: 100px"><code>${selectedValue}</code></pre>
						</div> -->

					</div>
					<div class="flex-row-none">
						<div class="form-group flex-column-1">
							<input id="searchartistl" type="text" class="form-control" placeholder="Search for inv artist last..." value.bind="search.artistl">
						</div>
						<div class="form-group flex-column-1 margin-left-10">
							<input id="searchartistf" type="text" class="form-control" placeholder="Search for inv artist first..." value.bind="search.artistf">
						</div>
					</div>
					<div class="flex-row-none">
						<div class="form-group flex-column-1">
							<input id="searchbin" type="text" class="form-control" placeholder="Search for bin ..." value.bind="search.bin">
						</div>
						<div class="form-group flex-column-1 margin-left-10">
							<input id="searchInvYear" type="text" class="form-control" placeholder="Search for InvYear ..." value.bind="search.invyear">
						</div>
					</div>
					<div class="flex-row-none">
						<div class="form-group flex-column-1">
							<!-- <input id="searchMediumSupport" type="text" class="form-control" placeholder="Search for MediumSupport ..." value.bind="search.mediumsupport"> -->

							<aubs-typeahead ref='MediumSupport' data.bind="appService.codesListMediumSupport" value.bind="DescriptionMS" debounce.bind="350"
							 placeholder="not avail -MediumSupport" open-on-focus.bind="true" key="Description" results-limit.bind="12" select-single-result.bind="true">
							</aubs-typeahead>


						</div>
						<div class="form-group flex-column-1 margin-left-10">

							<!-- <input id="location" type="text" class="form-control" placeholder="not avail - Search for Current Location ..." value.bind="search.location"> -->
							<aubs-typeahead ref='InventoryLocation' data.bind="appService.codesInventoryLocation" value.bind="DescriptionLoc" debounce.bind="350"
							 placeholder="not avail -codesInventoryLocation" open-on-focus.bind="true" key="Description" results-limit.bind="12"
							 select-single-result.bind="true">
							</aubs-typeahead>


						</div>
					</div>

					<div class="flex-row-none">
						<div class="form-group flex-column-1">
							<input id="searchMediumSupport" type="text" class="form-control" placeholder="Search for MediumSupport ..." value.bind="search.mediumsupport">



						</div>
						<div class="form-group flex-column-1 margin-left-10">

							<!-- <input id="location" type="text" class="form-control" placeholder="not avail - Search for Current Location ..." value.bind="search.location"> -->
							<aubs-typeahead ref='InventoryLocation' data.bind="appService.codesInventoryLocation" value.bind="DescriptionLoc" debounce.bind="350"
							 placeholder="not avail -codesInventoryLocation" open-on-focus.bind="true" key="Description" results-limit.bind="12"
							 select-single-result.bind="true">
							</aubs-typeahead>


						</div>
					</div>




					<div class="flex-row-none">
						<div class="form-group flex-column-1">
							<input id="ownershipstatus" type="text" class="form-control" placeholder="Search for Ownership Status ..." value.bind="search.ownershipstatus">
						</div>
						<div class="form-group flex-column-1 margin-left-10">
							<input id="AltID" type="text" class="form-control" placeholder="Search for AltID ..." value.bind="search.altid">
						</div>
						<!-- <div class="form-group flex-column-1 margin-left-10">
							<input id="comment" type="text" class="form-control" placeholder="Search for comment ..." value.bind="search.comment">
						</div> -->
					</div>

					<div class="flex-row-none">
						<div class="form-group flex-column-1">
							<aubs-typeahead ref='keyword' data.bind="appService.codesGenre" value.bind="keywordDescription" debounce.bind="350" placeholder="search on 1 keyword"
							 open-on-focus.bind="true" key="Description" results-limit.bind="12" select-single-result.bind="true">
							</aubs-typeahead>
						</div>
						<div class="form-group flex-column-1 margin-left-10">
							<!-- <aubs-typeahead ref='savedlist' data.bind="appService.savedlists" 
              value.bind="name" debounce.bind="350" placeholder="search on one savedlist "
							 open-on-focus.bind="true" key="name" results-limit.bind="12" 
               select-single-result.bind="true"
							 change.delegate="performSearch()">
              </aubs-typeahead> -->



							<!-- <label for="SL">SL</label>
						<input ref="myDatalistSL" type="text" list="appService.savedlists" 
                    change.delegate="performSearchX()" 
                    input.delegate="selectedValue = findOption($event.target.value)"/>		
							<datalist id="myDatalistSL">
									<option repeat.for="option of appService.savedlists">${option}</option>
							</datalist> -->
							<!-- change.delegate="changeCallbackMru(selectedValue)"  -->
							<div class="form-group flex-column-1 margin-left-10">
								<!-- <label for="adjuster">mru2</label> -->
								<input ref="myDatalist" type="text" list="myDatalist" placeholder="search on savedlist" 
                change.delegate="performSearchSL()"
								 input.delegate="selectedValue = findOption($event.target.value)" />
								<datalist id="myDatalist">
									<option repeat.for="option of appService.savedlists">${option.name}</option>
								</datalist>
								<!-- <pre style="margin-top: 100px"><code>${selectedValue}</code></pre> -->
							</div>
						</div>



						<div class="form-group flex-column-1 margin-left-10">
							<label for="adjuster">mru</label>

							<ul>
								<li repeat.for='e of mru'>

									<a click.delegate="populateInv(e)"> ${e}</a>

								</li>
							</ul>
						</div>
					</div>
					<!-- <div class="form-group flex-column-1 margin-left-10">
							<label for="adjuster">mru2</label>
								<input ref="myDatalist" type="text" list="myDatalist" 
                change.delegate="changeCallbackMru(selectedValue)" 
                input.delegate="selectedValue = findOption($event.target.value)"
							/>
							<datalist id="myDatalist">
									<option repeat.for="option of mru">${option}</option>
							</datalist>
							<pre style="margin-top: 100px"><code>${selectedValue}</code></pre>
						</div>
					</div> -->


					<div class="form-group">
						<label><input type="checkbox" checked.bind="search.andor">  Checked: search on every keyword, unchecked: search on any keyword"</label>

					</div>


					<div class="form-group">
						<ak-multiselect k-value.two-way="multikeywords">
							<select multiple="multiple" k-height.bind="400" data-placeholder="Select mulitple keywords...">
                       <option repeat.for="opt of appService.codesGenre" model.bind="opt.Description">
                        ${opt.Description} 
                      </option> 
                    </select>
						</ak-multiselect>

					</div>
					<!-- <div class="form-group">Sold - Selected : ${search.selectedSoldId}
						<label repeat.for="sold of searchsold">
              <input type="radio" name="group1"
                    model.bind="sold.id" checked.bind="search.sold">
                 ${sold.name} &nbsp;
            </label>
					</div> -->
					<div class="form-group">Sold - Selected : ${search.sold}
						<label repeat.for="sold of searchsold">
              <input type="radio" name="group1"
                    model.bind="sold.id" checked.bind="search.sold">
                 ${sold.name} &nbsp;
            </label>
					</div>

					<div class="form-group">Search on Dates - Selected : ${search.selectedDateId}
						<label repeat.for="dat of searchdates">
            <input type="radio" name="group2"
            model.bind="dat.id" checked.bind="search.selectedDateId">
            ${dat.name} &nbsp;
            </label>
					</div>


					<div class="flex-row-none">

						<div class="form-group flex-column-1">
							<label for="searchdrcvdatel">(Start Date>=</label>
							<input id="searchdrcvdatel" type="date" class="form-control" placeholder="Search for Start Date (> or =)  ..." value.bind="search.startdate">
						</div>
						<div class="form-group flex-column-1 margin-left-10">
							<label for="lastName">Stop Date<=)</label>
							<input id="searchdrcvdate2" type="date" class="form-control" placeholder="Search for Stop Date (< or =)  .." value.bind="search.stopdate">
						</div>


					</div>




					<div class="flex-row-none">
						<div class="form-group flex-column-1">
							<button id="searchInputBtn" class="btn btn-primary" type="submit"><strong>S</strong>earch!</button>
							<!-- <button id="searchInputBtn" class="btn btn-primary" type="button" click.delegate="performSearch()">Search!</button> -->

						</div>
						<div class="form-group flex-column-1 margin-left-10">
							<button id="searchInputBtn" class="btn btn-primary" type="button" click.delegate="addinventory()"><strong>A</strong>dd Inventory</button>
						</div>
						<div class="form-group flex-column-1 margin-left-10">
							<button id="searchInputBtn" class="btn btn-primary" type="button" click.delegate="performClear()">Clear</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</section>
</template>


<!-- <div class="flex-row-none">
						<div class="form-group flex-column-1">
							<select2m name="options" selected.bind="selected" options.bind="options" placeholder="Enter a selection" allow_clear="true"
							 tags="true" change.delegate="changeCallbackM($event)"></select2m>
						</div>
						<div class="form-group flex-column-1 margin-left-10">
							<select2 name="myCustomSelect" selected.bind="defaultSelected" options.bind="selectOptions" change.delegate="changeCallback($event)"></select2>
						</div>
					</div> -->



<!-- <div class="flex-row-none">
						<div class="form-group flex-column-1">
							<selectize name="options" selected.bind="selected" options.bind="options" placeholder="Enter a selection"></selectize>

						</div>

					</div> -->
<!-- <multi-selector-item repeat.for="item of selectedOptions" 
        item.bind="item" 
        parent.bind="$parent">  
      </multi-selector-item>
      <input ref="dynamicOption"
        spellcheck="false" 
        placeholder.bind="placeholder" 
        keydown.delegate="processKeydown($event)" 
        autocomplete="on"
        class="multi-selector-input"
        list="multi-datalist"> -->
<!-- @bindable instanceOptions = [];
  @bindable selectedOptions = []; -->
<!-- <multi-selector name="msoptions" selectedOptions.bind="options" item.bind="selected" placeholder="Enter a selection"></multi-selector> -->
<!-- <multi-selector name="msoptions"   selectedOptions.bind="optionsMat" item.bind="selected" placeholder="Enter a selection"></multi-selector> -->
<!-- ${options.length}:			<multi-selector name="msoptions"   selectedOptions.bind="options"  item.bind="value" placeholder="Enter a selection.."></multi-selector> -->

<!-- <div class="flex-row-none">

						<div class="form-group flex-column-1">
							<multi-selector name="msoptions" instance-options.bind="optionsMatt" selected-options.bind="selectOptions" placeholder="Enter a selection.."></multi-selector>
						</div>
						<button id="checkms" class="btn btn-primary" type="button" click.delegate="checkms()">checkms</button>
					</div> -->