<template>
	<require from="aurelia-kendoui-bridge/multiselect/multiselect"></require>
<require from="../../resources/value-converters/stringify"></require>

	<ux-dialog>
		<ux-dialog-header class="modal-header modal-header-success">
			<!-- <h2> ${fieldname} </h2> -->
			<div class="alert alert-danger">
				<h1> ${fieldname}</h1>
			</div>
			<!-- <div class="alert alert-danger">${fieldname}</div> -->
			<!-- <div class="alert alert-danger" if.bind="error">${error}</div> k-multiselect.ref="myMultiSelect"  -->


		</ux-dialog-header>
		<ux-dialog-body>

			<div show.bind="fieldname==='Description'">
				<textarea rows="8" cols="100" id="Description" class="form-control input-sm" value.bind="currentItem.Description"></textarea>
			</div>
			<div show.bind="fieldname==='Comment'">
				<textarea rows="8" cols="100" id="Comment" class="form-control input-sm" value.bind="currentItem.Comment"></textarea>
			</div>
			<div show.bind="fieldname==='Inscribed'">
				<textarea rows="8" cols="100" id="Inscribed" class="form-control input-sm" value.bind="currentItem.Inscribed"></textarea>
			</div>


			<div show.bind="fieldname==='Treatment'">
				<textarea rows="8" cols="100" ref="dTreatment" id="dTreatment" class="form-control input-sm" value.bind="currentItem.Treatment"></textarea>
			</div>



			<!-- a -->
			<div show.bind="fieldname==='selectedids'">
				<div class="form-group flex-column-1">
					<h2> ${doc} </h2>

					<table class="table-condensed table">
						<thead class="table-header-blue" data-sort="items.bind: currentItem.docs; cols: ['FILE_NAME','FILE_EXT']">
							<tr>
								<th class="header">Inv </th>

							</tr>
						</thead>
						<tfoot>
							<tr>
								<td></td>

							</tr>
						</tfoot>
						<tbody>
							<tr repeat.for="doc of appService.selectedids">
								<td>
								</td>
								<td><input type="text" id="InventoryCodes" class="form-control  input-sm" value.bind="doc"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div show.bind="fieldname==='SoldToID'">
				<div class="form-group flex-column-1">
					<h2> ${doc} </h2>

					<!-- <aubs-typeahead ref='dsoldtoid' data.bind="appService.orgsList" value.bind="OrgName" debounce.bind="350" placeholder="SoldToID"
					 open-on-focus.bind="true" key="OrgName" results-limit.bind="12" select-single-result.bind="true">
					</aubs-typeahead> -->


<!-- 
					<abp-select picker-options.bind="selectOptions" empty-on-null="true" selected-item.bind="OrgName" selected-value.bind="orgValue"
					 disabled="false" collection.bind="appService.orgsList" data-mapping-structure.bind="mappingorgDataStructure" object-key="id"
					 element.bind="selectorgList"></abp-select> -->



				</div>

			</div>
			<div show.bind="fieldname==='LoanTo'">
				<div class="form-group flex-column-1">
					<h2> ${doc} </h2>
					<!-- <aubs-typeahead ref='dloanto' data.bind="appService.orgsList" value.bind="OrgName" debounce.bind="350" placeholder="SoldToID"
					 open-on-focus.bind="true" key="OrgName" results-limit.bind="12" select-single-result.bind="true">
					</aubs-typeahead> -->
				</div>
			</div>


			<div show.bind="fieldname==='ConservedBy'">
				<div class="form-group flex-column-1">
					<h2> ${doc} </h2>
					<!-- <span ref='dconservedby' ></span> -->
					<!-- <aubs-typeahead ref='dconservedby' data.bind="appService.orgsList" value.bind="OrgName" debounce.bind="350" placeholder="ConservedBy"
					 open-on-focus.bind="true" key="OrgName" results-limit.bind="12" select-single-result.bind="true">
					</aubs-typeahead>
          <label class="control-label">Object Collection - 1 sl mappingDataStructure</label>
								<div>Value: ${SaveListValue} <br /> Item: ${name.InventoryCodes | stringify}</div>
								<div>
									<abp-select picker-options.bind="selectOptions" empty-on-null="true" selected-item.bind="name" selected-value.bind="SaveListValue"
									 disabled="false" collection.bind="appService.savedlists" data-mapping-structure.bind="mappingDataStructure" object-key="id"
									 element.bind="selectSaveList"></abp-select>
								</div>
          selectorgList OrgName
           -->
					<!-- <abp-select  picker-options.bind="selectOptions" empty-on-null="true" selected-item.bind="OrgName"
           selected-value.bind="orgValue"
					 disabled="false" collection.bind="appService.orgsList" data-mapping-structure.bind="mappingorgDataStructure" object-key="id"
					 element.bind="selectorgList"></abp-select> -->

		<label class="control-label">Object Collection</label>
			<div>Value: ${orgSelection.selectedOrgValue} <br /> Item: ${orgSelection.selectedOrgItem | stringify}</div>
			<div>
				<abp-select element.bind="mypicker"
         selected-item.bind="orgSelection.selectedOrgItem" 
         selected-value.bind="orgSelection.selectedOrgValue"
				 collection.bind="appService.orgsList" 
         data-mapping-structure.bind="mappingorgDataStructure" object-key="_id">
				</abp-select>
			</div>

<label class="control-label">Object Collection</label>
			<div>Value: ${condimentSelection.selectedCondimentValue} <br /> Item: ${condimentSelection.selectedCondimentItem | stringify}</div>
			<div>
				<abp-select element.bind="mypicker"
         selected-item.bind="condimentSelection.selectedCondimentItem" 
         selected-value.bind="condimentSelection.selectedCondimentValue"
				 collection.bind="allCampingStuffObject" 
         data-mapping-structure.bind="mappingDataStructure" object-key="id">
				</abp-select>
			</div>

				</div>
			</div>

			<div show.bind="fieldname==='PhotographerID'">
				<div class="form-group flex-column-1">
					<h2> ${doc} </h2>
					<!-- <aubs-typeahead ref='dphotographerid' data.bind="appService.orgsList" value.bind="OrgName" debounce.bind="350" placeholder="PhotographerID"
					 open-on-focus.bind="true" key="OrgName" results-limit.bind="12" select-single-result.bind="true">
					</aubs-typeahead> -->
				</div>
			</div>


			<div show.bind="fieldname==='PurchasedFrom'">
				<div class="form-group flex-column-1">
					<h2> ${doc} </h2>
					<!-- <aubs-typeahead ref='dpurchasedfrom' data.bind="appService.orgsList" value.bind="OrgName" debounce.bind="350" placeholder="ConservedBy"
					 open-on-focus.bind="true" key="OrgName" results-limit.bind="12" select-single-result.bind="true">
					</aubs-typeahead> -->
				</div>
			</div>

			<!-- <div class="form-group flex-column-1">
				<h2> ${doc} add new </h2>

				<aubs-typeahead ref='dinsuredby' data.bind="appService.orgsList" value.bind="OrgName" debounce.bind="350" placeholder="InsuredBy"
				 open-on-focus.bind="true" key="OrgName" results-limit.bind="12" select-single-result.bind="true">
				</aubs-typeahead>
			</div> -->

			<div show.bind="fieldname==='ConsignedTo'">
				<div class="form-group flex-column-1">
					<h2> ${doc} </h2>

					<!-- <aubs-typeahead ref='dconsignedto' data.bind="appService.orgsList" value.bind="OrgName" debounce.bind="350" placeholder="ConsignedFromID"
					 open-on-focus.bind="true" key="OrgName" results-limit.bind="12" select-single-result.bind="true">
					</aubs-typeahead> -->
				</div>

			</div>
			<div show.bind="fieldname==='ConsignedFromID'">
				<div class="form-group flex-column-1">
					<h2> ${doc} </h2>

					<!-- <aubs-typeahead ref='dconsignedfromid' data.bind="appService.orgsList" value.bind="OrgName" debounce.bind="350" placeholder="ConsignedFromID"
					 open-on-focus.bind="true" key="OrgName" results-limit.bind="12" select-single-result.bind="true">
					</aubs-typeahead> -->
				</div>

			</div>
			<div show.bind="fieldname==='ConsignmentShippingID'">
				<div class="form-group flex-column-1">
					<h2> ${doc} </h2>

					<!-- <aubs-typeahead ref='dconsignmentshippingid' data.bind="appService.orgsList" value.bind="OrgName" debounce.bind="350" placeholder="ConsignmentShippingID"
					 open-on-focus.bind="true" key="OrgName" results-limit.bind="12" select-single-result.bind="true">
					</aubs-typeahead> -->
				</div>

			</div>

			<div show.bind="fieldname==='OwnerID'">
				<div class="form-group flex-column-1">
					<h2> ${doc} </h2>

					<!-- <aubs-typeahead ref='dorg' data.bind="appService.orgsList" value.bind="OrgName" debounce.bind="350" placeholder="OwnerID"
					 open-on-focus.bind="true" key="OrgName" results-limit.bind="12" select-single-result.bind="true">
					</aubs-typeahead> -->
				</div>

			</div>
			<div show.bind="fieldname==='SavedList'">
				<div class="form-group flex-column-1">
					<h2> ${doc} </h2>

					<!-- <aubs-typeahead ref='dsaved' data.bind="appService.savedlists" value.bind="name" debounce.bind="350" placeholder="savedlists"
					 open-on-focus.bind="true" key="name" results-limit.bind="12" select-single-result.bind="true">
					</aubs-typeahead> -->

					<div>
						<input ref="addtextref" id="addlist" type="text" class="form-control" placeholder="Enter a New SaveList name" value.bind="addlist">
					</div>

				</div>
			</div>

			<!-- <div show.bind="fieldname==='SoldTo'">
				<h2> ${doc} </h2>
				<div class="form-group flex-column-1">
					<aubs-typeahead ref='dorg' data.bind="appService.orgsList" value.bind="OrgName" debounce.bind="350" placeholder="SoldTo"
					 open-on-focus.bind="true" key="OrgName" results-limit.bind="12" select-single-result.bind="true">
					</aubs-typeahead>
				</div> -->
			</div>
			<hr>
		</ux-dialog-body>

		<ux-dialog-footer>

			<button show.bind="addlist" click.trigger="addit()">Add New Saved List</button>
			<button click.trigger="controller.cancel()">Cancel and Close </button>
			<button click.trigger="save()">Save and Close </button>

		</ux-dialog-footer>
	</ux-dialog>
</template>