<template>
	<require from="./date-format"></require>
	<require from="./number-format"></require>
	<require from="./currency-format"></require>
	<require from="./social-format"></require>
	<script language="JavaScript">
		window.onbeforeunload = confirmExit;
        function confirmExit() {
            return "You have attempted to leave this page. Are you sure?";
        }
	</script>
	<!-- <script>
		document.getElementById("test").appendChild(
            renderjson({ hello: [1, 2, 3, 4], there: { a: 1, b: 2, c: ["hello", null] } })
        );
	</script> -->
	<require from="./flex.css"></require>
	<section class="full-height flex-column-1 au-animate ignore">

		<div class="flex-row-none section-header">
			<h3>${heading} ${currentRecord.inmate.lastname} , ${currentRecord.inmate.firstname} </h3>

		</div>


		<div class="flex-column-1 overflow-y-auto">
			<!-- <form ref="inmate" class="flex-column-1"> -->

			<div class="flex-row-none">
				<div class="form-group flex-column-1">
					<div ref="test"></div>
					<div class="Rtable Rtable--2cols">
						<div class="Rtable-cell-30 Rtable-cell--green">
							<strong> id </strong>
						</div>
						<div class="Rtable-cell-70 Rtable-cell--green">
							${currentRecord.id}
						</div>
						<div class="Rtable-cell-30 Rtable-cell--green">
							<strong> lastname</strong>
						</div>
						<div class="Rtable-cell-70 Rtable-cell--green">
							<input type="text" id="last" class="form-control input-sm" value.bind="currentRecord.inmate.lastname ">
						</div>

						<div class="Rtable-cell-30 Rtable-cell--green">
							<strong> firstname</strong>
						</div>
						<div class="Rtable-cell-70 Rtable-cell--green">
							<input type="text" id="first" class="form-control input-sm" value.bind="currentRecord.inmate.firstname ">
						</div>
						<!-- <div class="Rtable-cell-70 Rtable-cell--green">
							<input type="text" id="first" class="form-control input-sm" 
              value.bind="currentRecord.inmate.firstname & validate">
						</div> -->

					</div>
				</div>

				<div class="form-group flex-column-1 margin-left-10">
					<div class="Rtable Rtable--2cols">
						<div class="Rtable-cell-30 Rtable-cell--green">
							<strong> Gender</strong>
						</div>
						<div class="Rtable-cell-70 Rtable-cell--green">
							<!-- <input type="text" id="id" 
              class="form-control input-sm"
               value.bind="currentRecord.currentRecord.gender"> -->

							<select id="gender" class="form-control input-sm" value.two-way="currentRecord.inmate.gender">
                                <option model.bind="null">Choose...</option>
                                <option repeat.for="opt of appService.genderList" model.bind="opt.code">
                                    ${opt.code}
                                </option>
                            </select>

						</div>

						<div class="Rtable-cell-30 Rtable-cell--green">
							<strong> DOB</strong>
						</div>
						<div class="Rtable-cell-70 Rtable-cell--green">

							<input type="date" id="DOB" class="form-control input-sm" value.bind="currentRecord.inmate.DOB">
						</div>

						<div class="Rtable-cell-30 Rtable-cell--green">
							<strong> ss (numners only) ${currentRecord.inmate.ss| socialFormat}</strong>
						</div>
						<div class="Rtable-cell-70 Rtable-cell--green">
							<input type="text" id="id" class="form-control input-sm" value.bind="currentRecord.inmate.ss">
						</div>


					</div>
				</div>

			</div>

			<section class="docs full-height flex-column-1 overflow-y-auto ignore">
				<h3>
					<i class="fa fa-folder-open"></i> Booking: (${appService.currentRecord.booking.length})

					<a slot="buttons-slot" class="btn btn-success" click.delegate="addBooking()">
						<i class="fa fa-plus"></i> Add Booking
					</a>
				</h3>

				<!-- <table class="table-condensed table"> -->


				<table class="table-condensed table" id="table" ref="table" data-toggle="table">
					<thead class="table-header-blue" data-sort="items.bind: appService.currentRecord.booking; cols: ['bookingDate','classification']">

						<tr>
							<th class="header">iss
							</th>
							<th class="header">bookingDate
							</th>
							<!-- <th class="header">classification~
							</th> -->
							<th class="header">classification
							</th>
							<th class="header">bookingNo
							</th>
							<th class="header">prisonerId
							</th>
							<th class="header">sentencingDate
							</th>
							<th class="header">Cmd

							</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tfoot>
					<tbody>
						<tr repeat.for="booking of currentRecord.booking" with.bind="booking" class="${isSelected ? 'is-row-selected' : 'is-row-not-selected'}">
							<!-- <tr repeat.for="booking of currentRecord.booking" with.bind="booking" class="${isSelected ? 'is-row-selected' : 'is-row-not-selected'}"
						 click.trigger="changeColor(booking)"> -->

							<!-- <tr repeat.for="booking of currentRecord.booking" with.bind="booking" class="${(booking.classification == selectedBooking.classification) ? 'selected' : 'notSelected'}"> -->

							<td width="25">
								${booking.isSelected}
							</td>
							<td width="125">
								<span show.bind="!booking.edit">${bookingDate | dateFormat }</span>
								<input show.bind="booking.edit" class="form-control input-sm" disabled.bind="!booking.edit" type="date" value.bind="bookingDate">
							</td>
							<!-- <td width="125px" animateonchange.bind="booking.classification">${booking.classification}</td> -->


							<td width="125">
								<span show.bind="!booking.edit">${classification}</span>

								<!-- <input show.bind="booking.edit" class="form-control input-sm" disabled.bind="!booking.edit" type="text" value.bind="classification">		</td> -->
								<!-- change.delegate="selectChanged(adjuster, adjuster.ADJUSTER_ID)" -->

								<select show.bind="booking.edit" id="adj" class="form-control input-sm" value.two-way="booking.classification">
                                    <option model.bind="null">Choose...</option>
                                    <option repeat.for="opt of appService.classificationList" model.bind="opt.code">
                                        ${opt.code}
                                    </option>
                                </select>

							</td>

							<td width="125">
								<span show.bind="!booking.edit">${bookingNo}</span>

								<input show.bind="booking.edit" class="form-control input-sm" disabled.bind="!booking.edit" type="text" value.bind="bookingNo">								</td>
							</td>
							<!-- <td width="125px">
								<span show.bind="!booking.edit">${prisonerId}</span>

								<input show.bind="booking.edit" class="form-control input-sm" disabled.bind="!booking.edit" type="text" value.bind="prisonerId">								</td>
							<td width="125px">
								<span show.bind="!booking.edit">${sentencingDate| dateFormat }</span>
								<input show.bind="booking.edit" class="form-control input-sm" disabled.bind="!booking.edit" type="date" value.bind="sentencingDate">
							</td> -->
							<td width="325">
								<!-- <button class="btn btn-primary" click.delegate="booking.edit=!booking.edit">
                  ${ !booking.edit ? 'Update' : 'Done' }</button>	 -->
								<button class="btn btn-primary" click.delegate="EditBooking(booking,booking.edit,$index)">
                                    ${ !booking.edit ? 'Update' : 'Done' }</button>
								<button class="btn btn-danger" click.delegate="remove(booking,$index)">Delete</button>
								<button class="btn btn-primary" click.delegate="getServices(booking,$index)">Get Services</button>

							</td>


							</span>
						</tr>

					</tbody>

				</table>


				<!--  end booking table -->

				<!--  new table -->
				<h3>
					<i class="fa fa-folder-open"></i> Services (${services.length} BookingIndex ${bookingindex} / ServiceIndex ${currentServiceIndex})
					<a slot="buttons-slot" class="btn btn-success" click.delegate="addService()">
						<i class="fa fa-plus"></i> Add Services
					</a>
					<b>${currentBooking.bookingNo}</b>
				</h3>
				<table class="table-condensed table">
					<thead class="table-header-blue" data-sort="items.bind: services; cols: ['bookingDate','classification']">
						<tr>
							<th class="header">iss
							</th>
							<th class="header">Srv Provided
							</th>
							<th class="header">Srv Type
							</th>
							<th class="header">Srv DateFrom
							</th>
							<th class="header">Srv DateTo
							</th>
							<th class="header">Srv Days
							</th>
							<th class="header">Transport
								<br>Method
							</th>

							<th class="header">Sending
								<br>Provider
							</th>
							<th class="header">Designated
								<br>Provider
							</th>
							<th class="header">Service
								<br>Reason
							</th>
							<th class="header">Cmd
							</th>
						</tr>
					</thead>

					<tfoot>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>

						</tr>
					</tfoot>

					<tbody>
						<!-- click.trigger="changeColor(service)" -->
						<tr repeat.for="service of services" with.bind="service" class="${isSelected ? 'is-row-selected' : 'is-row-not-selected'}">
							<!-- <tr repeat.for="service of currentRecord.booking.services" with.bind="service"> -->
							<td width="25">
								${service.isSelected}
							</td>
							<td width="125">
								<span show.bind="!service.edit">${serviceProvided}</span>

								<!-- <input show.bind="service.edit" class="form-control input-sm" disabled.bind="!service.edit" type="text" value.bind="serviceProvided"> -->

								<select show.bind="service.edit" id="adj" class="form-control input-sm" value.two-way="service.serviceProvided">
                                    <option model.bind="null">Choose...</option>
                                    <option repeat.for="opt of appService.serviceprovidedList" model.bind="opt.code">
                                        ${opt.code}
                                    </option>
                                </select>

							</td>
							<td width="125">
								<span show.bind="!service.edit">${serviceType}</span>

								<!-- <input show.bind="service.edit" class="form-control input-sm" disabled.bind="!service.edit" type="text" value.bind="serviceType"> -->

								<select show.bind="service.edit" id="adj" class="form-control input-sm" value.two-way="service.serviceType">
                                    <option model.bind="null">Choose...</option>
                                    <option repeat.for="opt of appService.servicetypeList" model.bind="opt.code">
                                        ${opt.code}
                                    </option>
                                </select>

							</td>
							<td width="125">
								<span show.bind="!service.edit">${serviceDateFrom | dateFormat }</span>
								<input show.bind="service.edit" class="form-control input-sm" disabled.bind="!service.edit" type="date" value.bind="serviceDateFrom">
							</td>
							<td width="125">
								<span show.bind="!service.edit">${serviceDateTo | dateFormat }</span>
								<input show.bind="service.edit" class="form-control input-sm" disabled.bind="!service.edit" type="date" value.bind="serviceDateTo">
							</td>
							<td width="125">
								<span show.bind="!service.edit">${serviceDays}</span>

							</td>
							<td width="125">
								<span show.bind="!service.edit">${transportMethod}</span>
								<select show.bind="service.edit" id="adj" class="form-control input-sm" value.two-way="service.transportMethod">
                                    <option model.bind="null">Choose...</option>
                                    <option repeat.for="opt of appService.transportList" model.bind="opt.code">
                                        ${opt.code}
                                    </option>
                                </select>
							</td>
							<!-- <input show.bind="service.edit" class="form-control input-sm" disabled.bind="!service.edit" type="text" value.bind="transportMethod"> -->


							<!-- <span show.bind="!service.edit">${sendingProvider}</span>
									<input show.bind="service.edit" class="form-control input-sm" disabled.bind="!service.edit" type="text" value.bind="sendingProvider">
								</td> -->
							<td width="125">
								<span show.bind="!service.edit">${sendingProvider}</span>
								<select show.bind="service.edit" id="sp" class="form-control input-sm" value.two-way="service.sendingProvider">
                                    <option model.bind="null">Choose...</option>
                                    <option repeat.for="opt of appService.sendingproviderList" model.bind="opt.code">
                                        ${opt.code}
                                    </option>
                                </select>
							</td>
							<!-- <td width="125px">
									<span show.bind="!service.edit">${designatedProvider}</span>
									<input show.bind="service.edit" class="form-control input-sm" disabled.bind="!service.edit" type="text" value.bind="designatedProvider">
								</td> -->
							<td width="125">
								<span show.bind="!service.edit">${designatedProvider}</span>
								<select show.bind="service.edit" id="adj" class="form-control input-sm" value.two-way="service.designatedProvider">
                                    <option model.bind="null">Choose...</option>
                                    <option repeat.for="opt of appService.designatedproviderList" model.bind="opt.code">
                                        ${opt.code}
                                    </option>
                                </select>
							</td>
							<td width="125">
								<span show.bind="!service.edit">${serviceReason}</span>
								<input show.bind="service.edit" class="form-control input-sm" disabled.bind="!service.edit" type="text" value.bind="serviceReason">
							</td>


							<td width="325">
								<!-- <button class="btn btn-primary" click.delegate="service.edit=!service.edit">${ !service.edit ? 'Update' : 'Done' }</button> -->
								<button class="btn btn-primary" click.delegate="EditService(service,service.edit,$index)">
                                    ${ !service.edit ? 'Update' : 'Done' }</button>
								<button class="btn btn-danger" click.delegate="remove(service,$index)">Delete</button>
								<button class="btn btn-primary" click.delegate="getInvoices(service,$index)">Get Invoices</button>

							</td>
						</tr>

					</tbody>
				</table>

				<!--  end new table -->

				<!--  new table invoices data-sort="items.bind: invoices; cols: ['bookingDate','classification']"-->
				<h3>
					<i class="fa fa-folder-open"></i> Invoices (${invoices.length} )
					<a slot="buttons-slot" class="btn btn-success" click.delegate="addInvoice()">
						<i class="fa fa-plus"></i> Add Invoice
					</a>
					Docs for Invoice ${currentBooking.bookingNo} / ${currentService.serviceProvided} - ${currentService.serviceType}
					<h4>
						click button below or drag n drop files's over button</h4>
					<!-- <a slot="buttons-slot" class="btn btn-success" click.delegate="addDocs(file)">
						<i class="fa fa-plus"></i> Add Uploaded File
					</a> -->
				</h3>
				<table class="table-condensed table">
					<thead class="table-header-blue">
						<tr>

							<th class="header">iss </th>
							<th class="header">inv# </th>
							<th class="header">invDate</th>
							<th class="header">Payee Name.................................</th>

							<th class="header">Invoice
								<br>Total</th>
							<th class="header">Repriced
								<br>Amt</th>
							<th class="header">savings</th>
							<th class="header">Trt DateFrom</th>
							<th class="header">Trt DateTo</th>
							<th class="header">Apprvd
								<br>Date</th>
							<th class="header">Payment
								<br>Status</th>

							<th class="header">Denied
								<br>Reason</th>

							<th class="header">FileName</th>
							<th class="header">Cmd</th>

							<th class="header">Drop</th>
						</tr>
					</thead>

					<tfoot>
						<tr>
							<!-- <td></td>
								<td></td>
								<td></td>
								<td></td> -->
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tfoot>

					<tbody>
						<!--  click.trigger="changeColor(invoice)" -->
						<tr repeat.for="invoice of invoices" with.bind="invoice" class="${isSelected ? 'is-row-selected' : 'is-row-not-selected'}">
							<td width="25">
								${invoice.isSelected}
							</td>

							<td width="165">
								<span show.bind="!invoice.edit">${invno} ${payee.payeefein}</span>
								<input show.bind="invoice.edit" class="form-control input-sm" disabled.bind="!invoice.edit" type="text" value.bind="invno">
							</td>
							<td width="95">
								<span show.bind="!invoice.edit">${invDate | dateFormat }</span>
								<input show.bind="invoice.edit" class="form-control input-sm" disabled.bind="!invoice.edit" type="date" value.bind="invDate">
							</td>
							<!-- <td width="165px">
									<span >${payee.payeename}</span>
								</td> -->
							<td width="325px">


								<!-- <option repeat.for="opt of appService.payeelist" model.bind="opt.payeename"> -->
								<!-- <span  >${payee.payeename}  / ${payee.payeefein} > ${payee.payeename} /  ${payeeselect.payeename} ${payeename} / </span> -->
								<span show.bind="!invoice.edit">${payee.payeename} </span>
							
                                <select show.bind="invoice.edit" id="pl" class="form-control input-sm" value.two-way="invoice.payeeselect">

                                    ${payee.payeename}
                                    <option model.bind="null">Choose...</option>
                                    <option repeat.for="opt of appService.payeelist" model.bind="opt">
                                        ${opt.payeename} / ${opt.payeefein}
                                    </option>
                                </select>


               	<input show.bind="invoice.edit" class="form-control input-sm" disabled.bind="!invoice.edit" placeholder="name" type="text"
								 value.bind="payeename">
								<!-- <span show.bind="!invoice.edit">${payeefein }<br></span> -->
								<input show.bind="invoice.edit" class="form-control input-sm" disabled.bind="!invoice.edit" placeholder="fein" type="text"
								 value.bind="payeefein">

								<input show.bind="invoice.edit" class="form-control input-sm" disabled.bind="!invoice.edit" placeholder="address" type="text"
								 value.bind="payeeaddr">

								<input show.bind="invoice.edit" class="form-control input-sm" disabled.bind="!invoice.edit" placeholder="city" type="text"
								 value.bind="payeecity">

								<input show.bind="invoice.edit" class="form-control input-sm" disabled.bind="!invoice.edit" placeholder="state" type="text"
								 value.bind="payeestate">
								<input show.bind="invoice.edit" class="form-control input-sm" disabled.bind="!invoice.edit" placeholder="zip" type="text"
								 value.bind="payeezip">
							

							</td>

							<td width="85">

								<span show.bind="!invoice.edit">${invoiceTotal | currencyFormat }</span>
								<input show.bind="invoice.edit" class="form-control input-sm" disabled.bind="!invoice.edit" type="text" value.bind="invoiceTotal">
							</td>
							<td width="85">
								<span show.bind="!invoice.edit">${repricedAmt | currencyFormat}</span>

								<input show.bind="invoice.edit" class="form-control input-sm" disabled.bind="!invoice.edit" type="text" value.bind="repricedAmt">
							</td>
							<td width="85">
								<!-- <span show.bind="!invoice.edit">${invoiceTotal - repricedAmt}</span>
									<input show.bind="invoice.edit" class="form-control input-sm" disabled.bind="!invoice.edit" type="text" value.bind="savings"> -->

								<span>${invoiceTotal - repricedAmt | currencyFormat}</span>

							</td>
							<td width="95">
								<span show.bind="!invoice.edit">${treatmentDateFrom | dateFormat }</span>
								<input show.bind="invoice.edit" class="form-control input-sm" disabled.bind="!invoice.edit" type="date" value.bind="treatmentDateFrom">
							</td>
							<td width="95">
								<span show.bind="!invoice.edit">${treatmentDateTo | dateFormat }</span>
								<input show.bind="invoice.edit" class="form-control input-sm" disabled.bind="!invoice.edit" type="date" value.bind="treatmentDateTo">
							</td>


							<td width="95">
								<span show.bind="!invoice.edit">${approvedDate | dateFormat }</span>
								<input show.bind="invoice.edit" class="form-control input-sm" disabled.bind="!invoice.edit" type="date" value.bind="approvedDate">
							</td>


							<td width="105">
								<span show.bind="!invoice.edit">${paymentStatus}</span>
								<select show.bind="invoice.edit" id="adj" class="form-control input-sm" value.two-way="invoice.paymentStatus">
                                    <option model.bind="null">Choose...</option>
                                    <option repeat.for="opt of appService.approvedList" model.bind="opt.code">
                                        ${opt.code}
                                    </option>
                                </select>
							</td>


							<td width="105">
								<span show.bind="!invoice.edit">${deniedReason}</span>

								<input show.bind="invoice.edit" class="form-control input-sm" disabled.bind="!invoice.edit" type="text" value.bind="deniedReason">
							</td>

							<!-- href="https://gtztest.com/api/v1/getonePdf/${invoice.invno}/${doc.fileinvoicename}"> -->



							<td width="125">
								<span show.bind="!invoice.edit">
                                    <a size='100' class="form-control  input-sm" target="_blank" href="https://gtztest.com/api/v1/getonePdf/${currentRecord.id}/${fileinvoicename}">
                                        ${fileinvoicename}
                                    </a>
                                </span>
								<span show.bind="invoice.edit">${fileinvoicename}</span>
							</td>
							<td width="325">
								<!-- <button class="btn btn-primary" click.delegate="invoice.edit=!invoice.edit">${ !invoice.edit ? 'Update' : 'Done' }</button> -->
								<button class="btn btn-primary" click.delegate="EditInvoice(invoice,invoice.edit,$index)">
                                    ${ !invoice.edit ? 'Update' : 'Done' }</button>
								<button class="btn btn-danger" click.delegate="remove(invoice,$index)">Delete</button>

								<a slot="buttons-slot" class="btn btn-success" click.delegate="addDocsInvoice(invoice,fileinvoice)">
									<i class="fa fa-plus"></i> Upload
								</a>

							</td>
							<td>
								<input style='height:44px' ref='fileinvoice' id='fileinvoice' type="file" name="fileinvoice" files.bind="fileinvoice">
						</tr>
					</tbody>
				</table>
				<!--  end new table -->
				<!--  new docs table -->
				<h4>

					<i class="fa fa-folder-open"></i> Docs for ${currentBooking.bookingNo} click button below or drag n drop files's over
					button
					<a slot="buttons-slot" class="btn btn-success" click.delegate="addDocs(file)">
						<i class="fa fa-plus"></i> Add Uploaded File
					</a>
					<a slot="buttons-slot" class="btn btn-success" click.delegate="modalDocs()">
						<i class="fa fa-plus"></i> Popup Docs
					</a>
					<a slot="buttons-slot">
						<input id="icon_prefix" type="text" value.bind="searchdoc & debounce" class="validate">
						<i class="material-icons prefix">search</i>
					</a>

					<!-- <a slot="buttons-slot" class="btn btn-success" click.delegate="addDocTest()"></a> -->

					<input style='height:44px' id='file' type="file" name="file" files.bind="file" multiple>
				</h4>
				<!-- <form> -->
				<div class="col-sm-6 ">
					<table class="table-condensed table">
						<thead class="table-header-blue" data-sort="items.bind: currentRecord.docs; cols: ['FILE_NAME','FILE_EXT']">
							<tr>
								<th class="header">FILE_NAME (Must ne uniq and have no '#' or '/' in name)</th>
								<!-- <th class="header">FILE_EXT </th> -->

							</tr>
						</thead>
						<!-- <tfoot> -->
						<tr>
							<td></td>
							<td></td>

						</tr>
						<!-- </tfoot> -->
						<tbody>
							<tr repeat.for="doc of docs" with.bind="doc">
								<td>
									<!-- <a size='100' class="form-control  input-sm" target="_blank"
                   href="http://adjusters.markadjustment.com/docs/${currentItem.CLAIM_NO}/${doc.FILE_NAME}">
										${FILE_NAME}
									</a> -->
									<a size='100' class="form-control  input-sm" target="_blank" href="https://gtztest.com/api/v1/getonePdf/${currentRecord.id}/${doc.FILE_NAME}">
										${FILE_NAME}
									</a>

								</td>
								<!-- <td><input type="text" id="FILE_EXT" class="form-control  input-sm" value.bind="FILE_EXT"></td> -->

							</tr>
						</tbody>
					</table>
				</div>
				<!-- </form> -->

				<!--  end booking table -->





			</section>
			<!-- </form> -->
			<div class="flex-column-none section-footer">
				<span>&nbsp;&nbsp;
                    <button class="btn btn-sm btn-danger" click.delegate="saveinmate(0)">
                        ${message}
                    </button>

                    <button class="btn btn-sm btn-danger" click.delegate="close()">
                        Close
                    </button>
                </span>
			</div>
		</div>
	</section>
</template>