<template>
	<ux-dialog>
		<ux-dialog-header class="modal-header modal-header-success">
			<div class="alert alert-danger">
				<h4>Search on ${fieldname}</h4>
			</div>
		</ux-dialog-header>
		<ux-dialog-body>
			<div show.bind="fieldname==='LossDescription'">
				<textarea rows="8" cols="100" id="Notes" class="form-control input-sm" value.bind="currentItem.LossDescription"></textarea>
			</div>
			<div show.bind="fieldname==='INSURED_ID'">
				<div class="form-group flex-column-1">
					<h3> ${doc} </h3>
					<aubs-typeahead ref='dinsured' data.bind="appService.insuredList" value.bind="LEGAL_NAME" debounce.bind="350" placeholder="INSURED_ID"
					 open-on-focus.bind="true" key="LEGAL_NAME" results-limit.bind="12" select-single-result.bind="true">
					</aubs-typeahead>
				</div>
			</div>
			<div show.bind="fieldname==='ADJUSTER_ID'">
				<div class="form-group flex-column-1">
					<h3> ${doc} </h3>
					<aubs-typeahead ref='dadjuster_id' data.bind="appService.adjusterList" value.bind="ADJUSTER_NAME" debounce.bind="350" placeholder="INSURED_ID"
					 open-on-focus.bind="true" key="ADJUSTER_NAME" results-limit.bind="12" select-single-result.bind="true">
					</aubs-typeahead>
				</div>
			</div>

			<div show.bind="fieldname==='docs'">
				<div class="form-group flex-column-1">
					<h3> docs: ${doc} 	
       <a slot="buttons-slot">  <input id="icon_prefix" type="text" value.bind="searchdoc & debounce" class="validate">
                            
			 <!-- <i class="material-icons prefix">search</i> -->
       </a>
			</h3>
					<form>
						<table class="table-condensed table">
							<thead class="table-header-blue" data-sort="items.bind: showdocs; cols: ['FILE_NAME','FILE_EXT']">
								<tr>
									<th class="header">FILE_NAME </th>
									<th class="header">FILE_EXT </th>

								</tr>
							</thead>
							<tfoot>
								<tr>
									<td></td>
									<td></td>

								</tr>
							</tfoot>
							<tbody>
								<tr repeat.for="doc of showdocs" with.bind="doc">
									<td>
										<!-- <a  size='100' class="form-control  input-sm" target="_blank" href="http://adjusters.markadjustment.com/docs/${doc.CLAIM_NO}/${doc.FILE_NAME}"> -->
										<a size='100' class="form-control  input-sm" target="_blank" href="http://adjusters.markadjustment.com/docs/${currentItem.CLAIM_NO}/${doc.FILE_NAME}">
											${FILE_NAME}
										</a>
									</td>
									<td><input type="text" id="FILE_EXT" class="form-control  input-sm" value.bind="FILE_EXT"></td>

								</tr>
							</tbody>
						</table>
					</form>


				</div>
			</div>

			<div show.bind="fieldname==='insco'">
				<div class="form-group flex-column-1">
					<h3> ${doc} </h3>


					<aubs-typeahead ref='dinsco' data.bind="appService.InsurancecompanyList" value.bind="FullName" 
           debounce.bind="350" placeholder="INSURANCE CO"
					 open-on-focus.bind="true" key="FullName" results-limit.bind="12" select-single-result.bind="true">
					</aubs-typeahead>
				</div>
			</div>




			<hr>
		</ux-dialog-body>
		<ux-dialog-footer>
			<button click.trigger="controller.cancel()">Cancel and Close </button>
			<button click.trigger="save(modal)">Save and Close</button>
		</ux-dialog-footer>
	</ux-dialog>
</template>

