<template>

	<!-- jrt -->
	<style>
		.k-grid tbody tr {
			height: 50px;
		}

		.k-grid td {
			white-space: nowrap;
		}

		/* img.responsive-img,
		video.responsive-video {
			max-width: 100%;
			height: auto;
		}
    class="responsivemerge-img */

		img.responsivemerge-img {
			max-width: 225;
			height: auto;
		}

		.customer-photo-sq {
			display: inline-block;
			width: 50px;
			height: 50px;
			background-size: 50px 53px;
			background-position: center center;
			vertical-align: middle;
			line-height: 50px;
			box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0, 0, 0, .2);
			margin-left: 5px;
		}
	</style>
	<section class="full-height flex-column-1 au-animate ignore">
		<div class="form-group flex-column-1">

			<div class="Rtable Rtable--2cols">
				<div class="Rtable-cell-1">
					<h3> ${savedlist} / Record Count: ${datasource._data.length}</h3>
				We have discontinued the use of a “mailing type” and added the following fields to facilitate creating mailing lists for physical mail:
deceased
international
no mailings: contact has no address or they have been removed from mailing list by MRG*
unsubscribed: contact has requested not to receive mail
no info: “unassigned” in current system and anyone who has no new contact info after leaving an organization but has received comp catalogues in the past
Y/N master list: people on this list are those who receive catalogs 90% of the time
Y/N holiday list: holiday gift list

The Mailing List Creator will default to bring up all contacts except those checked:
“deceased”
“no mailings”
“unsubscribed” OR "no info"

UI This entire list can be printed or filtered to meet specific criteria:
genre
artists of interest
contact type
international y/n
city
state
Y/N master list (new)
Y/N holiday list (new)
deceased”  y/n  
“no mailings” y/n  
“unsubscribed”  y/n 

						<button id="save2" class="btn btn-primary" type="button" click.delegate="save2()">Save Exhibition</button>

					</div>

			

						<button id="i9" class="btn btn-primary" type="button" click.delegate="saveMerge()">Save Doc Image Merge</button>
						<a href="https://artbased.com/api/v1/downloadonepdf/lists/${savedlist}.doc" class="btn btn-sm btn-primary">
							<span class="glyphicon glyphicon-th-list"></span> Download Doc Image Merge
						</a>

					</div>


					<b>  ${message} </b>
				</div>
				<div class="Rtable-cell-2">

					<ak-grid class="flex-row-1 overflow-y-auto" id="grid" k-data-source.bind="datasource" k-widget.bind="grid" k-sortable.bind="{ mode: 'multiple',   allowUnsort: 'true'}"
					 k-filterable.bind="{  mode: 'row' }" k-editable="inline" k-reorderable.bind="true" k-resizable.bind="true"
            k-on-edit.delegate="onEdit($event.detail)"
					 k-selectable="multiple" k-on-change.delegate="rowSelected($event.detail)" k-column-menu.bind="true" k-pageable.bind="true">
						<ak-col k-filterable.bind="false" k-width="120px" k-title="Cmd" k-command.bind="['edit']" k-title="&nbsp;" k-locked.bind="true"
						 k-lockable.bind="false"></ak-col>
						<ak-col k-field="InventoryCode" k-filterable.bind="false" k-column-menu.bind="false" k-lockable.bind="false" k-title="Inventory Code"
						 k-width.bind="180" k-template="<button click.delegate='detailsEdit($event)' class='k-button'>#=InventoryCode#</button>">
						</ak-col>
						<ak-col k-title="Image" k-filterable.bind="false" k-field="InventoryCode" k-width="150px">
							<ak-template>
								<div class='customer-photo-sq' style="background-image: url(https://artbased.com/api/v1/getimage/inv/${InventoryCode}.jpg);"
								 click.delegate="showModalImg($event)"></div>
							</ak-template>
						</ak-col>
            	<ak-col k-title="rtf2" k-width="140px" k-field="rtf2"></ak-col>
					
						<ak-col k-title="Offer Amount" k-width="140px" k-field="offeramount"></ak-col>
						<ak-col k-title=" Retail Price " k-width="140px" k-field="ArtValue"></ak-col>
						<ak-col k-field="InventoryCode" k-filterable.bind="true" k-title="Edit" k-width.bind="140" k-template="<button click.delegate='detailsEdit($event)' class='k-button'>#=InventoryCode#</button>">
						</ak-col>
						<ak-col k-filterable.bind="false" k-field="InventoryCode" k-filterable.bind="true" k-title="Factsheet<br>Download" k-width.bind="125"
						 k-template="<button click.delegate='detailsFactSheet($event)' class='k-button'>#=InventoryCode#</button>">
						</ak-col>




						<ak-col k-title="Title" k-width="110px" k-field="Title"></ak-col>
						<ak-col k-title="Artist" k-width="200px" k-field="artist.ArtistName"></ak-col>
					</ak-grid>


					<div class="flex-row-none section-footer">
						${footer} <span>  ${queryParams}</span>
             <span>&nbsp;&nbsp;	<button id="searchInputBtn" class="btn btn-primary" type="button" click.delegate="performAction1Refresh()">Refresh Updated list for Merge</button></span>
             <span>&nbsp;&nbsp;	<button id="searchInputBtn" class="btn btn-primary" type="button" click.delegate="performAction1()">Delete from Saved List</button></span>

					</div>
				</div>
			</div>
			<!-- </div> -->
		</div>
	</section>

</template>


	<!-- <div show.bind="!hide6">
						Temp Location

						<aubs-typeahead ref='templocation' data.bind="appService.codesInventoryLocation" value.bind="item.Description" debounce.bind="350"
						 placeholder="temp location" open-on-focus.bind="true" key="Description" results-limit.bind="12" select-single-result.bind="true">
						</aubs-typeahead>
						<button id="save6" class="btn btn-primary" type="button" click.delegate="save6()">save 1</button>
					</div> -->

						<!-- <aubs-typeahead ref='doffering' data.bind="appService.orgsList" value.bind="item.OrgName" debounce.bind="350" placeholder="offering to arg"
						 open-on-focus.bind="true" key="OrgName" results-limit.bind="12" select-single-result.bind="true">
						</aubs-typeahead> -->